[2015-12-20 00:06] alexis-via opened #1 "Crash when de_DE locale is not installed"
I am trying to use invoice2data on my Ubuntu 15.10:

[code]
As I am a French user, my default locale is French:
[code]

If I run "locale-gen", I see that Ubuntu generate all fr_* and en_* locales.

The crash is linked to the fact that you try to set the locale de_DE. In date_parser.py line 32, if I remove 'de_DE.UTF-8' from the list, I will manage to parse the 2 first invoices, but it will crash l

[2015-12-20 07:05] manuelRiel commented on #1
Hi Alexis,

thanks for the detailed report. I'll test it out this week.

[2015-12-21 14:18] alexis-via opened #2 "Missing setup.py"
"Normal" users are used to install a Python module via:

[code]
We're lacking this file (and maybe others) to make it a standard python module.

[2015-12-21 14:47] alexis-via opened #4 "Missing licence information"
I didn't find any information about the "licence" of this great "invoice2data" lib. Did I miss something ?

I think it's important to choose a free software licence and display it clearly.

[2015-12-24 13:43] alexis-via commented on #4
@manuelRiel We need your decision on this. You are the author, so you should decide under which licence you publish the code.

[2015-12-24 13:45] sebastienbeau commented on #2
To really close the issue we need to set the name/email of the maintainer of the package : https://github.com/akretion/invoice2data/blob/odoo-pdf-import/setup.py

And also to push this package on pypi

[2015-12-25 03:05] manuelRiel commented on #4
On it. I'll read up on the topic. Will be BSD or something else that's easy to work with in business environments.

[2015-12-25 20:34] alexis-via commented on #4
OK, great !

[2015-12-26 08:25] #2 closed

[2015-12-26 08:26] #4 closed

[2015-12-26 08:26] #1 closed

[2015-12-26 08:33] m3nu opened #5 "Structure templates in yml files and allow multiple files"
First the current `template.py` is really a data structure, rather than Python code. It should be in json or even better YAML. Next it should be possible to add separate templates, depending on the current project.

[2015-12-26 08:40] manuelRiel opened #6 "Add tests"

[2016-01-22 15:42] alexis-via commented on #5
Yes, sure.

But, for particular invoices, a single regexp is not enough to extract the needed information. For example, for the invoices BinaryLife Inc. (www.browserstack.com), I have the following text for the date:

[code]

If I extract "14t h Dec, 2015", then invoice2data cannot parse the date, and I don't want to patch date parsing to support "14t h" (with a space between t and h !). I cannot

[2016-01-22 15:52] alexis-via commented on #5
There are a few more things to take into consideration:

1) having a single keyword is sometimes not enough to match the right template. For example, for a large telecom Operator such as Orange, they have a lot of different invoice layout for the different business units of the company, and all these business units have the same VAT number because it is the same company. So I can't only use the VA

[2016-01-22 16:00] alexis-via commented on #6
The big problem we have for tests is that invoices very often contain confidential information. Of course, we ca, do PDF editing to anonymize the invoices, but it's a painful work and we won't do that for each supplier.

I don't have the "magic" idea to solve that... My only idea would be to setup a confidential repository that would contain the invoices and in which we would run the tests, but it

[2016-01-22 17:17] alexis-via commented on #5
OK, I added support for multi-keywords, which solves the problem of multi-language I think and also the problem of large suppliers that have many different invoice templates.

@manuelRiel By the way, could you update the template of Amazon and add a keyword that is specific to the German version of the invoice, so that I can add a template of Amazon France.

Now that we have multi-keyword, we can

[2016-01-23 02:25] manuelRiel commented on #6
I had the same issue with projects before. Solved it with env vars on CircleCI. So nothing becomes public. The samples are downloaded when the tests are run and accessible with a password. Will add that today.

[2016-01-23 06:17] manuelRiel commented on #5
Implemented a new template system based on Yaml-files. By default it will use our existing templates, but you can also point it to an external folder. Like

`python3 -m invoice2data.main --debug --template-folder invoice2data/templates invoice2data/test/pdfs/*`

Other changes:
- switched to external dateparser which should be more reliable
- Input files are no longer read in Python, but in the she

[2016-01-23 06:20] manuelRiel commented on #5
And:

- python3 support

Up next:

- add circleci tests
- add options in yml to solve the problems you mentioned. (E.g. remove all whitespace to get better matching)

[2016-01-23 06:57] manuelRiel commented on #6
Adding tests for Python 3 and 2 on CircleCi. Optionally download custom PDFs from hidden location.

[2016-01-23 07:13] manuelRiel commented on #6
Added bin-installation. So now it's just:

`invoice2data invoice2data/test/pdfs/2014-08*`

[2016-01-23 07:55] manuelRiel commented on #6
Setup tests and badge in README.md

[2016-01-23 07:55] #6 closed

[2016-01-23 11:19] m3nu opened #8 "Add extended tests that also validates data extracted."
Currently we run tests without looking at the data returned.

There could be some validated dicts that are compared with output data from a few files.

[2016-01-24 23:27] alexis-via commented on #5
Thanks for all these new features ! It seems really great, in particular the new options, the new yaml files with one file per supplier/template, the ability to define a date format and to define several regexp (I need to test that !)

I am not an expert of the python 2 vs python 3 stuff, but I guess that your move to Python 3 will oblige me to maintain a branch for python2 in order to continue to

[2016-01-25 01:42] manuelRiel commented on #5
I am running tests for several py2 and py3 versions. The same code is compatible with  2 and 3. So no need for an extra version.

If you run into errors in py2, just open an issue.

[2016-01-25 09:06] alexis-via commented on #5
OK, I didn't know it was possible to use the same lib for python 2 and python 3 !

I didn't achieve to use the new version for the moment. First, extrac_data has 1 more argument (not mentionned in README) ; I think it should be an optional argument (if this second arg is not set, it defaults to using all templates). Then, I have a crash:

[code]

But I need more time to investigate it ; I'll have

[2016-01-27 07:41] alexis-via opened #9 "Cannot use extract_data() directly"
OK, I found the time to investigate the issue. After the commits of this week-end, it still works well when you use invoice2data from the command line, but it doesn't work any more when you use it as a python lib.

 In the README file, it says:

[code]

This doesn't work any more, because extract_data has one additionnal arg. This additional arg must be the result of a call to the read_templates()

[2016-01-27 07:42] manuelRiel commented on #9
option 2

[2016-01-27 07:52] alexis-via commented on #9
@manuelRiel I made a PR that implements option 2

[2016-01-27 08:10] #9 closed

[2016-01-27 08:16] alexis-via opened #11 "Warn on version-mismatch with xpdf"
It's great to be able to use the latest improvements of xpdf (option -table), but I find it a bit hard to oblige all users to use the latest 3.04 version. Even with the latest version of Ubuntu and on Debian Sid, xpdf is version 3.03 (which is a bit strange, because xpdf 3.04 was released in May 2014), so I cannot easily propose a backport via a PPA.

So I propose to auto-detect the version of pdf

[2016-01-27 08:17] manuelRiel commented on #11
The problem is that with the `-table` option documents will be parsed a little differently. So templates need to be different.

It's simple to get the static version of xpdf. No dependencies.

[2016-01-27 09:03] alexis-via commented on #11
Ok, I understand your point. I hope that the Linux distro will update their packages soon.

[2016-01-27 22:28] alexis-via commented on #5
I had a look at the dateparser lib ; it seems good, but it's not magic either. For example, see my comment in https://github.com/scrapinghub/dateparser/issues/52

Another example, with the latest version of dateparser:
[code]

So for my example of the invoices of BinaryLife Inc. (www.browserstack.com), I still need to execute some python code, or at least do a replace before sending the date to pa

[2016-01-28 00:14] alexis-via commented on #5
Another big pb that I just discovered: it seems dateparser 0.3.2 released a few days ago is broken:

[code]

[2016-01-28 06:27] m3nu commented on #5
Just don't remove the whitespace if date parsing doesn't work without it.

[2016-01-28 08:20] alexis-via commented on #5
@m3nu If I remove the whitespace, dateparser returns a wrong result:
[code]

[2016-01-28 08:27] m3nu commented on #5
Then you can use the yml-template option to give the date format. That will work for sure.

We can add another option to set the language if that improves it or auto-detect the invoice language.

[2016-01-28 22:03] alexis-via commented on #5
FYI, I spent more time investigating tonight and I confirm that Odoo is currently incompatible with dateparser (and it has nothing to do with invoice2data). So I opened a full bug report on odoo https://github.com/odoo/odoo/issues/10670 and I also opened a bug report at dateparser https://github.com/scrapinghub/dateparser/issues/141 This bug is not easy and I am not able to fix it by myself for th

[2016-01-29 23:45] alexis-via commented on #5
The bug has been fixed in Odoo and the patch is already in Odoo v8 (incredible !!!).

Unfortunately, we are not finished with the issues with the recent changes... because I still have a crash when trying to install the odoo module account_invoice_import. Here is the cause of this "next" issue (I hope it is the last one !) : when I install invoice2data with the command "sudo python ./setup.py inst

[2016-01-31 23:42] alexis-via opened #12 "[regression] bad handling of decimal separator"
@m3nu Following your changes of January 23, the amounts with "," as decimal separator are badly converted to float. For example, pdftotext extracts "27,80" and this is converted to "2780.0" !

When I look at the code in main.py:
[code]

So I understand that the conversion from string to float is always done with the en_US locale, so it doesn't support dot as decimal separator. What was your idea w

[2016-02-01 02:41] m3nu commented on #12
My idea was to set or programmatically extract the invoice language and then use that language with `locale.atof`. There may be edge cases. Feel free to add those thousand and decimal sep settings.

I'll soon do my own accounting with the lib and will discover some issues as well.

[2016-02-01 04:56] m3nu opened #13 "Match language in addition to tax number"
Ran into an issue with your `fr35433115904.yml` Scaleway template. First it's nice to be able to use other people's templates. But you are matching the French version. I guess each template needs one word under `keywords` to match the right version?

[2016-02-01 04:57] m3nu commented on #13
Also using domains + language code may scale better than naming templates by tax ID.

[2016-02-01 04:57] m3nu commented on #13
@alexis-via  ^^

[2016-02-01 08:45] alexis-via commented on #13
Yes, I fully agree with you, and that's precisely why I implemented the multi-keyword feature, because I feelt that we would face this problem very soon ! And now we are there :)

As you can see in the subdirectoy "fr", I am in the process of renaming the template files and adding more keywords to only match the French version of the invoice (and also add the issuer entry and the options). But, as

[2016-02-01 08:56] alexis-via commented on #12
OK. I propose the following:
1) If the decimal_separator option is NOT set, fallback on the first entry of the 'languages' option and use atof() with the right locale
2) if the decimal_separator option is set, we will do the following:
a) replace the decimal separator by "."
b) remove all other separators
c) use float()

That way, we should not need the thousand_separator option, but only the deci

[2016-02-01 09:07] m3nu commented on #12
Sounds good. I didn't find any other major issues today. Was running the lib over 6 months of invoices to match them to the corresponding bank transactions.

[2016-02-01 22:07] alexis-via commented on #12
In the end, the implementation that I pushed in master (I forgot to cross reference with this bug report) is only step 2) of my previous comment. Why ? Because I feel that locale.atof()  is not the right solution for the following reasons:
- it is not easy to go from a 2 letter language code (fr) to a full locale (fr_FR.UTF-8)
- it is not easy to know which locale are installed on the system, to a

[2016-02-01 22:07] #12 closed

[2016-02-11 14:42] alexis-via commented on #5
It seems the solution is there:

http://stackoverflow.com/questions/19672980/can-you-set-conditional-dependencies-for-python-2-and-3-in-setuptools

[2016-02-11 15:50] bguillot commented on #5
I made a PR for that here https://github.com/m3nu/invoice2data/pull/14

[2016-02-11 16:02] m3nu commented on #5
Thanks@bguillot. So this is working for everyone now?

[2016-02-11 16:20] alexis-via commented on #5
@m3nu at least it is working fine on python2 with Odoo without hack. I already updated the installation procedure of the Odoo module that use invoice2data... it's now much simpler to install !

[2016-02-11 16:20] #5 closed

[2016-03-30 09:05] #13 closed

[2016-03-30 09:06] alexis-via opened #15 "pip install fails"
Here is the error:

[code]

[2016-03-30 09:35] m3nu commented on #15
That's a problem. Checking it out now.

[2016-03-30 10:02] m3nu commented on #15
Works now. Sorry for the trouble.

[2016-03-30 10:02] #15 closed

[2016-04-07 08:41] diezcode opened #16 "This PDF invoice doesn't match a known template of the invoice2data lib."
I have installed xpdftotext like this:
http://support.sphiderpro.eu/knowledgebase.php?article=13

then I have installed invoice2pdf like this:
https://github.com/m3nu/invoice2data

then I have installed the modul account_invoice_import in odoo8

After trying to upload some pdf like the examples pdf, I get this error:

This PDF invoice doesn't match a known template of the invoice2data lib.

[2016-04-07 09:17] alexis-via commented on #16
Did you develop a template for the invoices of that supplier ? The available templates are available in this directory https://github.com/m3nu/invoice2data/tree/master/invoice2data/templates (and in the related subdirectories).

[2016-04-07 09:23] diezcode commented on #16
DEBUG:invoice2data.main:number of char in pdf2text extract: 0
DEBUG:invoice2data.main:START pdftotext result ===========================
DEBUG:invoice2data.main:
DEBUG:invoice2data.main:END pdftotext result =============================
DEBUG:invoice2data.main:Testing 90 template files
ERROR:invoice2data.main:No template for invoice2data/test/pdfs/invoices-output.csv
DEBUG:invoice2data.main:{}
Tra

[2016-04-07 09:26] m3nu commented on #16
You're trying to recognize a CSV-file. That won't work. It's made for PDF files. You probably created that CSV when testing it earlier.

[2016-04-07 09:34] diezcode commented on #16
I never made a csv file i any directory of invoice2data. I don't understand why I can't debug a sample pdf that is in test/pdfs

virtual-machine:/usr/local/lib/python2.7/dist-packages/invoice2data/test/pdfs$ invoice2data 2015-07-02-invoice_free_fiber.pdf --debug          pdftotext version 0.24.5
Copyright 2005-2013 The Poppler Developers - http://poppler.freedesktop.org
Copyright 1996-2011 Glyph &

[2016-04-07 09:38] m3nu commented on #16
You also have an outdated pdftotext version. We need the table-feature, which is only available in recent versions. I suggest you update first.

[2016-04-07 10:57] diezcode commented on #16
I have this one : http://www.foolabs.com/xpdf/download.html
for linux version 3.04. Where is the newest?

[2016-04-07 12:19] m3nu commented on #16
No you don't. You are using the Ubuntu-supplied `pdftotext version 0.24.5`.

Closing this since it's an installation issue.

[2016-04-07 12:19] #16 closed

[2016-04-29 22:00] sylvaingd opened #17 "Allow custom data fields to be retrieved"
Would it be possible to improve French EDF Entreprises template to retrieve energy consumption?

[2016-04-29 23:56] m3nu commented on #17
Probably. We would need to allow custom invoice attributes in the config files. I don't have an EDF invoice ready, so someone needs to share their invoice file with me. You can replace all sensitive information with a PDF editing software? @sylvaingd

[2016-05-03 22:46] sylvaingd commented on #17
Any idea to edit the invoice PDF file? (except Adobe Acrobat) because I can provide such a file but I would like to modify sensitive information.

[2016-05-04 00:18] m3nu commented on #17
There are many software packages, I would imagine.  You can also just send it to `submit [at] t.snapdragon.cc` and I'll remove the personally identifiable data for you. @sylvaingd

[2016-05-04 07:28] alexis-via commented on #17
@sylvaingd FYI, if you use the services of EDF Entreprise, they propose their invoices in XML format following the UBL 2.0 standard (https://www.edf.fr/entreprises/contrat-et-facture/votre-facture/flux-electronique-de-facturation-flux-edi), and this XML file has all the information about consumption. The technical specs are here https://entreprises.edf.com/fichiers/fckeditor/Commun/Entreprises/pdf

[2016-05-11 14:14] DavidGoodenough commented on #11
Debian sid currently does not package pdftotext in the xpdf package, but rather in the poppler-utils package.  Which version of that has the --table option?

[2016-05-11 16:46] DavidGoodenough opened #18 "Add Tutorial for template creation and best practice"
and not really understanding how to go about it.  A data file I am trying to work with looks like:-
(As this is a public forum, I have changed the supplier name to "Supplier" and the customer name to "Customer")
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

Supplier Name
Carterton
Oxfordshire
OX18 3EZ

Invoice

Page 1

Tel:- (01993) xxxxxx Fax: - (01993) xxxxxx
Email:- accounts@supplier.co.uk

[2016-05-11 16:55] alexis-via commented on #18
In this case, it is probably easier to activate the option "remove_whitespace" in your template. See for example the template "de.ovh.yml" in the master branch.

The pattern matching format is a regexp.

[2016-05-11 21:41] DavidGoodenough commented on #18
I tried that, but if you look at the data there are places where there are consecutive numbers, with remove_whitespace they get concatenated so I can not parse them.

What I do not understand is how the regex is applied.  How much of the incoming dataset is scanned for each regex?  Also do the regex's have to be in order, i.e. sequentially down the output from pdftotext?

It would be really useful

[2016-05-12 00:41] m3nu commented on #11
Debian Sid has the required package, but it's called `xpdf`, not `poppler`.

[2016-05-12 00:43] m3nu commented on #18
I fully agree there should be a tutorial on writing the first template.

To help, you need to attach the PDF file as well.

Are you using it without `--table` option? Without table option the above may happen and lines are broken by table cells.

[2016-05-12 00:51] m3nu commented on #11
I know the requirement sucks until Debian Sid is out. But as you saw in your other issue, the table-option makes a big difference for almost all invoices that use tables. (almost all invoices use tables). If we allow 2 versions, we need to redo most matching templates.

The download is just a single binary, so it's not impossible.

- Ubuntu already has the correct version. (Xenial)
- OSX also has

[2016-05-12 11:55] DavidGoodenough commented on #18
I can not send the the original as that would require the agreement of the sender (it has their company name, full address and phone and email details).  I will try to generate one which has dummy data in it and attach it to this thread.

I am using the version of of pdftotext with the -table option - I downloaded the binary directly.

[2016-05-12 11:57] m3nu commented on #18
I see. You can redact the company name with some PDF editing software (Fox, Acrobat, Illustrator).

Some whitespace is not an issue for regex. Just needs to be added.

[2016-05-12 11:58] DavidGoodenough commented on #11
If you go to https://packages.debian.org/sid/amd64/xpdf/filelist you will see that the pdftoxxxx utils are no longer there.  However if you do to https://packages.debian.org/sid/amd64/poppler-utils/filelist you will find them all there.

[2016-05-12 12:00] m3nu commented on #11
Ah. They re-organized it. That should be added as note. Would be even better if they add a backports package.

[2016-05-12 13:38] DavidGoodenough commented on #18
Here is an annonomised PDF.
[sample-invoice.pdf](https://github.com/m3nu/invoice2data/files/261414/sample-invoice.pdf)

[2016-05-12 23:43] m3nu commented on #18
Thanks. From what I can see the lines come out correctly with the `-layout` or `-table` option.

[code]

I'll work on adding the flexible fields and tutorial today. Then we can see if you still have issues with those lines.

[2016-05-13 14:09] DavidGoodenough commented on #18
Excellent, the tutorial will I am sure be very useful both to me and other users of your package.
I do not know if you were aware of it, but Akretion (see http://www.akretion.com/blog/akretions-christmas-present-for-the-odoo-community) recently published a plugin for Odoo (formerly OpenERP) which reads PDF invoice directly into Odoo, thus saving typing.  They use your code to do this.
So it is to

[2016-05-13 20:21] alexis-via commented on #18
@DavidGoodenough I am the author of the Odoo module and of the blog post on Akretion's website. Are you developping templates to use them with Odoo ? I would be very happy about that, because I haven't seen many users of my Odoo invoice import modules so far...

[2016-05-13 20:40] DavidGoodenough commented on #18
I have spent 40 years in the IT industry, and I have recently returned to the family farm.  I am doing most of the paperwork.  We are trying to get into precision farming, but also have to do the accounts.

Oddly farmers rarely raise invoices, we recieve lots, but when we sell things we get the bill we would have issued from our customer because they weigh things, and do quality grading to work ou

[2016-05-14 00:47] m3nu commented on #18
Did you try compiling xpdf from [source](http://www.foolabs.com/xpdf/download.html)? There are only 3 dependencies. I have some Arm-boxes too and could try if it doesn't work for you.

[2016-05-14 01:07] m3nu commented on #18
Compiling was really simple. It will build `pdftotext` even without some of the deps installed and skip some other tools. Will look at the tutorial, extra fields, CI and warning on xpdf version today.

[2016-05-14 08:36] m3nu commented on #11
It will try with- and without `-table` option now and give a warning.

I guess anyone adding new templates should use the newer version to avoid them breaking in the next months.

[2016-05-14 08:36] #11 closed

[2016-05-14 08:38] m3nu commented on #17
This is already possible. Mentioned it in the new tutorial now.

[2016-05-14 08:38] #17 closed

[2016-05-14 08:39] m3nu commented on #18
New tutorial to be found [here](https://github.com/m3nu/invoice2data/blob/master/TUTORIAL.md).

[2016-05-14 08:39] #18 closed

[2016-05-14 12:23] m3nu commented on #18
PS: @alexis-via: I refactored most template processing into a new class to reduce the chaos in future versions. The high-level stuff is unchanged. If I broke something for you, let me know.

[2016-05-25 21:56] alexis-via opened #19 "--template-folder dir, so be an addition to the standard templates, not a remplacement"
I have added support for --template-folder when using invoice2data via Odoo. But, when we use  --template-folder xxx, the templates are read from the xxx directory, but the native templates of invoice2data are ignored.

I think that, when we use --template-folder xxx, these templates in xxx should be used in addition to the native templates. What do you think ? If you agree, I can try to find time

[2016-05-26 00:24] m3nu commented on #19
Templates are just read into a list from a folder. That can happen multiple times of course.

I don't have a strong opinion. It can read the built-in templates all the time.

Or multiple ``--template-folder`` switches to add multiple folders?

[2016-05-27 03:27] m3nu commented on #19
Could still be useful to exclude the built-in templates. Testing, speed, etc? But also don't want to add too many pointless options because of it.

[2016-05-27 07:33] alexis-via commented on #19
yes, we could have an option to exclude built-in templates. I propose 2 options:
--template-folder /my/private_template_folder : will use the private template folder and the built-in template folder -> that will be the most common use
--exclude-built-in-templates : must be used in conjonction with --template-folder : will use the private folder and ignore the built-in template folder
I don't think

[2016-05-27 07:36] m3nu commented on #19
That's two more arguments and the same I had in mind.

You want to implement it or assign it to me? I recently refactored the lib to be more object-oriented. Should be quick to add this option. Just needs some lines in `main.py` I think.

[2016-06-23 13:17] alexis-via commented on #19
I am very busy with other developments in the Odoo community at the moment, so I won't do it in the short term. If you have some time to do it, that would be great. Otherwise, I'll do it myself, but not in the short term.

[2016-06-23 18:02] m3nu commented on #19
Sure. I'll take care.

[2016-06-25 05:35] #19 closed

[2016-06-27 08:20] alexis-via commented on #19
@m3nu Thanks ! I think our users should be happy now : they can benefit from the standard templates AND develop their own private template without problems.

[2016-07-03 19:11] alexis-via opened #20 "Improve error message when pdftotext is missing"
Currently, when pdftotext is not installed, we get this error:

[code]

But this error message doesn't give a clue about the cause of the problem. We should try to improve that if possible I think.

[2016-09-28 17:24] alexis-via opened #21 "Raise exception when date parsing fails"
On this line of code:
https://github.com/m3nu/invoice2data/blob/master/invoice2data/template.py#L137

when date parsing fails, we log an error and we return None. But that's a problem when invoice2data is used by another software as a python lib because the software cannot display a good error message "date parsing fails ..." to the user.

[2016-09-28 23:12] m3nu commented on #21
It can throw an exception in addition. This will propagate up to Odoo, right? If the date parsing fails there is not much to be done. Or ignore it and continue without date?

[2016-09-29 07:32] alexis-via commented on #21
I prefer to log (as we do today) and raise an exception (I don't like if it fails silently).

[2016-11-24 13:37] lepickle commented on #20
I was thinking if we could use imp to check if the package is installed in the system?

[2016-11-24 14:08] m3nu commented on #20
[`img`](https://docs.python.org/2/library/imp.html) seems to deal with Python packages, rather than binaries. So using [`shutil.which`](https://docs.python.org/dev/library/shutil.html#shutil.which) seems more appropriate. I'll add it when I do my next batch of accounting in a few weeks.

[2016-12-29 02:14] m3nu commented on #20
Thought I'd fix this in the old year.

[2016-12-29 02:14] #20 closed

[2017-02-25 09:53] m3nu opened #24 "PDF lib with layout support"
This may be helpful: https://github.com/JonathanLink/PDFLayoutTextStripper

[2017-03-04 03:14] wihoho opened #25 "How about using machine learning to extract entities from invoices?"
The below library is good at performing extraction from invoices.
https://github.com/mit-nlp/MITIE

If you think it is interesting, I would be glad to collaborate. Thanks

[2017-03-06 02:57] m3nu commented on #25
Thanks for the input. From what I see this lib focuses on extracting relationships and entities from full sentences. For us the problem is different, since invoices are mostly in tables. I don't think this lib would work for that.

[2017-03-12 17:48] joanjunyent opened #26 "Renamed files name structure"
It would be great if the filename structure for renamed files could be defined in the template.

[2017-03-15 17:33] lesander opened #27 "Pip install fails"
[code]

[2017-03-16 02:59] m3nu commented on #27
Thanks for writing in. This error is probably related to you trying to install directly in macOS' system python or the external package `ruamel.yaml` you're installing rather than this project's code.

[2017-03-16 02:59] #27 closed

[2017-04-06 16:01] splifter opened #28 "AttributeError"
Hey guys,

i'm trying to create a template for an invoice with the following setup:

The result is:

But i get following error:

Thanks for your help.

[2017-04-07 01:08] m3nu commented on #28
Can you post the template you made, so we can see the settings? @splifter

[2017-04-07 05:37] splifter commented on #28
Sure:
`
issuer: DHL
keywords:
- DeutschePostAG
fields:
  date: Rechnungsdatum(\W+)?(\d{2}(\.|-)\d{2}(\.|-)\d{4})
  amount: Rechnungsbetrag(\W+)?\(inklusive(\W+)?Umsatzsteuer\)(\W+)?(\d+\.\d+\,\d+)(\W+)?EUR
  invoice_number: Rechnungsnummer(\W+)?(\d{10})
options:
  remove_whitespace: true
  currency: EUR
  decimal_separator: ','
`

[2017-04-09 08:17] m3nu commented on #28
Your regexes have too many capturing groups. @splifter . You can only have one, I think. Example:

`amount: Крайнасума:(\d+\.\d+)USD`

Hope this helps. We should do a template authoring tutorial at some point.

[2017-04-09 08:17] #28 closed

[2017-05-18 07:14] #24 closed

[2017-05-18 07:16] m3nu commented on #21
ok. Let's add this when we next touch the code.

[2017-05-30 13:06] Vartkat opened #31 "Extract fields with line-plugin"
Hello,

Are are my first attempt to get data from a pdf invoice. Some things are working, some I don’t understand.

Here is my template file is :

# -*- coding: utf-8 -*-
issuer: Legallais
fields:
  amount: Montant total net TTC\n\s+\d+\s+\d+.\d{2}\s+\d+.\d{2}\s+\d+.\d{2}\s+(\d+.\d{2})
  amount_untaxed: Montant total net TTC\n\s+\d+\s+(\d+.\d{2})
  date: 138896\s+(\d{2}\/\d{2}\/\d{2})
  date_due:

[2017-06-02 12:08] Bummibaer opened #32 "read_template codec error"
Hi,

I 've started and get the following error with
cloudns.yml ( I think from russian letters):

I 've no experience with Python. How can I switch the locale?

My Environment:
Win10 64 Home
Active Perl 3.6

Traceback (most recent call last):
  File "C:\Users\PapaNetz\.p2\pool\plugins\org.python.pydev_5.7.0.201704111357\pysrc\pydevd.py", line 1546, in <module>
    globals = debugger.run(setup['fil

[2017-06-02 15:03] m3nu commented on #32
Interesting. Python 3 shouldn't give Unicode errors. We test on 3.6 as well and didn't happen so far.

If you find a workaround, do let us know.

[2017-06-03 08:57] Vartkat commented on #31
Hello,

and sorry but I'm still struggling to get something out of invoice2data.

My main problem is in lines.

Here si what I understood from the tutorial but I'm not sure :
1- Start
Must be the table header end, means it's the table's (without header line) first boudary
2- End
Is also outside the table
3- First line
Seems to be one line template. The columns name defined here don't need to match

[2017-06-04 10:56] m3nu commented on #31
Lines is a very new feature that was only recently implemented by @hbrunn . Best if he has a look.

[2017-06-04 11:57] hbrunn commented on #31
about the lines: Check the program's output, especially
``WARNING:root:no lines found - start <_sre.SRE_Match object at 0x7f3bb5f37308>, end None``

Then you misunderstood the semantics of `first_line` and `last_line` - they are meant to give regexes for the first/last line of a *multiline* invoice (that is: Every invoice item already spreads over multiple lines), in your example, I only see one l

[2017-06-09 23:58] Vartkat commented on #31
Hi,

and thanks for looking into my problem. Yes I missed the part talking about multiline items.
I have pasted the pdftotext output in my regex aware text editor and build my formulas.

You'll find the pdftotext output and my template in attachment, but I still don't get anything. It says

As you'll see my invoices have group of lines. Groups are beginning by the 'Livraison' line and end with the

[2017-06-10 17:26] Vartkat commented on #31
I'm still trying and I think I've narrowed my problem.

I can't use different line formats for "line :".
I explain :  my line are
`A_Code  A_Description A_Quantity A_Price`
but they're also grouped and each group begins with
`Delivery number xxx` and ends with `Total for delivery xxx`.
I would like these special lines to go in the Description column of the produced cvs invoice.

So my invoices loo

[2017-06-13 15:03] maethor opened #33 "Allow the user to choose the CSV file"
I think the CSV output should be a command argument, to allow the user to choose where to put it and, if not argument is given, to not generate it.

[2017-06-13 15:09] maethor opened #34 "Export multiple output formats, like json, csv"
Hi,

I know we can use invoice2data directly as a lib in python, but it would be great to make the output parsable. With a `--json` parameter, for instance.

Thanks, this app is awesome.

[2017-07-06 15:23] Unhurdof1 commented on #32
Hello,
I was also getting this error and resolved it by changing the line 38 in template.py to:
 tpl = ordered_load(open(os.path.join(path, name)**,encoding="utf8"**).read())

on my computer (windows 8) template.py is located here: C:\Users\Max\AppData\Local\Programs\Python\Python36-32\Lib\site-packages\invoice2data

Hope this helps.

[2017-07-28 05:39] OmriRoames commented on #18
Hi, I've just cloned the repo and I'm trying to run it from source. I'm guessing `python invoice2data/main.py --help` should be the way to run it. However I'm getting an ImportError:

Traceback (most recent call last):
  File "invoice2data/main.py", line 9, in <module>
    import invoice2data.in_pdftotext as pdftotext
ImportError: No module named invoice2data.in_pdftotext

Which is not really surp

[2017-08-22 03:39] sagaciousnisha3 opened #43 "Could not find a version that satisfies the requirement dateparser (from invoice2data==0.2.59)"
While installing invoice2data0.2.59 I got the error
"Could not find a version that satisfies the requirement dateparser (from invoice2data==0.2.59)". I get the same with PDFminer.six. When I remove them from the requirements file it works. Have I missed out any part of the installation?

[2017-08-22 04:27] m3nu commented on #43
`dateparser` is one of the requirements. It should install fine. I just tried it. [Details here](https://pypi.python.org/pypi/dateparser).

[2017-08-22 06:36] sagaciousnisha3 commented on #43
Thanks for answering. I found the issue. I was installing it offline

[2017-08-22 06:37] m3nu commented on #43
Good your found the issue. Closing this issue.

[2017-08-22 06:37] #43 closed

[2017-08-22 09:18] sagaciousnisha3 commented on #32
Hi I tried your suggestion and got this Error on every available template. Would be helpful if you have any solutions.
C:\Python35\lib\site-packages\invoice2data\template.py:38: ResourceWarning: unclosed file <_io.TextIOWrapper name='C:\\Python35\\lib\\site-packages\\invoice2data\\templates\\com.apps4rent.yml' mode='r' encoding='utf8'>
  tpl = ordered_load(open(os.path.join(path, name),encoding="u

[2017-08-27 08:38] courtenayparserr opened #44 "The need for templates"
I havent played with invoice2data yet but i wondered whether you have to have templates?

Is there any way one could maintain a db of possible terms for each distinguishable entity eg. Invoice number = invoice no

In that way it could test all terms until it found a match?

[2017-08-27 08:40] m3nu commented on #44
Don't think that this will work because you can't map the keywords to values without doing proper parsing of the text.

[2017-08-28 01:32] sagaciousnisha3 opened #45 "Processing a folder"
I tried to process a folder of invoices to a single output CSV using command line but it gives me an error
"invoice2data: error: argument input_files: can't open '*.pdf': [Errno 22] Invalid argument: '*.pdf'"
I'm using windows 10.

The command line I used is
C:\Users\IT\Desktop\test>invoice2data *.pdf
All my PDF are in the folder test.
Please help me resolve?

Code used:

'''
Created on 15 Aug 201

[2017-09-05 19:42] michelpf opened #46 "Windows support"
Despite I downloaded the Poppler for Windows, I receive same error messages:

  File "C:\Python\Python36\lib\site-packages\invoice2data\in_pdftotext.py", line 19, in to_text
    raise EnvironmentError('pdftotext not installed. Can be downloaded from https://poppler.freedesktop.org/')
OSError: pdftotext not installed. Can be downloaded from https://poppler.freedesktop.org/

Any clues?

[2017-09-05 19:47] #46 closed

[2017-09-05 19:48] michelpf commented on #46
Sorry, it was not on Path... :( It worked

[2017-09-28 19:38] joanjunyent commented on #26
I think you are right and a command line argument makes more sense since this way you will "normalize" the filename structure making it easier for archiving of further processing.

[2017-10-24 15:07] ebriquet64 opened #50 "Extract from JSON"
Hello,

There is any way to use JSON or HOCR in input ?

Thanks for your help and you work !

Manu

[2017-10-25 09:43] ebriquet64 opened #51 "How extract Total in 2 lines ?"
Hello !

Can you have a look ?

Many Thanks !

![example](https://user-images.githubusercontent.com/33052436/31992117-b193ab02-b979-11e7-84d7-e281b038585f.jpg)

[2017-10-28 19:24] ebriquet64 opened #52 "regular expression ^ and $"
Hello !

Me again, but a little alone !

touble to use ^ and $ in regular expressions: I have validated expression in another context

any help ?

Thanks !

[2017-11-06 11:32] DebayanChakraborty opened #53 "How to handle Value which are below mentions"
There are invoices where the mention and value are paired as
INVOICE #
xxxxxxxxx  (x= any digit 0-9)
and there may be many other noise in front of this . Can Invoice2data handle this ?
My regex is working but not matching

regex used is INVOICE\s#\s+.*?\s+(\d+)
this works in regex101 nd matches with two groups however this fails to fetch the data ...

How can one handle these scenarios

[2017-11-13 20:33] isfando opened #54 "Why is OCR for scanned pdf not working at the moment"

[2017-12-04 13:24] isfando opened #55 "Extract production information from line between FirstLine and LastLine of one product"
example of one product details in invoice given below

Serla Kostea Siivousliina 32 kpl
221443 92537  1 TU 14.160 TU  24 0.00
   /     14.16

How should i extract middle line info
I have written a regular expression for FirstLine which cover the first two lines in regex101 editor but it wont work with the extract_lines() function because extracts text line by line.

firstline: (?P\<desc\>.+?)\s+(\

[2017-12-04 14:09] isfando commented on #55
@hbrunn
Can you have a quick look at it. I have explained the problem to the best of my abilities

[2017-12-04 15:24] hbrunn commented on #55
you need to produce a line regex that matches the middle lines, but not the last line. And hook your expressions to the begin/end of line. Check https://github.com/m3nu/invoice2data/blob/master/invoice2data/templates/de.qualityhosting.yml as an example

[2017-12-04 16:14] isfando commented on #55
**My input string is**
Serla Kostea Siivousliina 32 kpl
221443 92537 1 TU 14.160 TU 24 0.00
/ 14.16

**I made my firstline regex match the middle line and i successfully get it but i miss the description in the first line**
line: ^\s*(?P<desc>.+)$
firstline:(\d+)\s+(\d+)\s+(?P<qty>\d+\s+TU)\s+(?P<unitprice>\d+.\d+(:?\s+TU))\s+(?P<taxpercent>\d+(.\d+)?)\s+(?P<discount>\d+.\d+)
lastline: \s+/\s+(?P<

[2017-12-04 16:35] isfando commented on #55
@hbrunn

**My input string is**
Serla Kostea Siivousliina 32 kpl
221443 92537 1 TU 14.160 TU 24 0.00
/ 14.16

**I made my 'firstline:' regex match the middle line and i successfully get it but i miss the description in the first line**
line: ^\s*(?P\<desc\>[\w ]+)$
firstline:(\d+)\s+(\d+)\s+(?P\<qty\>\d+\s+TU)\s+(?P\<unitprice\>\d+.\d+(:?\s+TU))\s+(?P\<taxpercent\>\d+(.\d+)?)\s+(?P\<discount\>\d+.

[2018-01-09 13:09] priyanshuchauhan opened #57 "Can't extract single line data from invoices"
I'm able to extract all the data from invoice PDF except **lines** part.
Below is the line template. I've tested the regex on https://regex101.com/ and it works fine.

Template
[code]
No line in result.

But if I add simple parsing
` line: (.*\d\S) `
then I get empty results
`'lines': [{}, {}, {}, {}, {}, {}, {}, {}, {}], `

Is it because of regex? All the sample templates either don't have lines

[2018-01-09 13:22] priyanshuchauhan commented on #57
@alexis-via, @m3nu, @hbrunn can anyone of you please take a look?

[2018-01-10 01:22] m3nu commented on #57
That's @hbrunn 's feature. He will advise.

Maybe you have some settings to remove whitespace. I must admit I didn't look into this feature at all so far.

[2018-01-10 05:09] hbrunn commented on #57
you will want to post the text you want to identify, as well as the debug output after the pdf2text step and eventual whitespace removal. Otherwise that's all guesswork.

[2018-01-10 09:36] priyanshuchauhan commented on #57
Thanks for quick response.
@hbrunn below is pdf2text portion that I want to parse. White spaces are not removed during extraction:

[code]

Template:
[code]
My result:
 `{'BTW': u'NL006300170B01', 'supplier_address': u'goederen:', 'BIC': u'CITINL2X', 'KvK': u'17093426. ', 'currency': 'EUR', 'IBAN': u'NL37CITI0266064760', 'date': datetime.datetime(2017, 6, 12, 0, 0), 'invoice_number': u'94011127',

[2018-01-11 12:05] hbrunn commented on #57
that's not so helpful, run this on the commandline and set the debug switch, this will give you a lot of messages, and those will probably help fixing this.

But on first glance, your line regex doesn't match your lines. What do you think matches there?

[2018-01-15 21:00] php- opened #58 "does this mean that templates is not properly configured?"
File ".../lib/python2.7/site-packages/invoice2data/template.py", line 110, in matches_input
    if all([keyword in optimized_str for keyword in self['keywords']]):
TypeError: coercing to Unicode: need string or buffer, NoneType found

[2018-01-31 12:57] VarshiniRaman opened #59 "How to extract from a particular position using regex ?"
![shipto](https://user-images.githubusercontent.com/35999362/35625002-95a34d44-0645-11e8-93b9-cf9ef35ad498.png)
I want to extract the Ship To details alone, but I am able to extract only the entire text from Ship to till the end of the specified text or line using (SHIP TO :(.*\n){5}) expression.

[2018-02-07 22:44] zoa414 commented on #57
Hi I am experiencing an error message?  Could you kindly assist?
 usage: invoice2data_ver1.py [-h] [--debug] [--copy COPY]
                            [--template-folder TEMPLATE_FOLDER]
                            input_files [input_files ...]
invoice2data_ver1.py: error: too few arguments
An exception has occurred, use %tb to see the full traceback.

[2018-02-10 19:05] rsenwar commented on #58
Did you make your own Custom template?

[2018-02-10 19:10] rsenwar commented on #57
@zoa414 Specify the file to be analysed in the command line, or use help options.

[2018-02-10 19:12] rsenwar commented on #53
you can try \d{frequency of x}

[2018-02-10 19:13] rsenwar commented on #52
What problem do you face using these, Can you please Elaborate?

[2018-02-10 19:22] rsenwar commented on #45
try using ./*.pdf

[2018-02-10 19:23] rsenwar commented on #51
Can you please post the optimised_st.

[2018-02-13 16:40] zoa414 commented on #57
Hi Rekesh-
Thanks for your reply!
The file string is referenced by way of a variable. File1=’////…..’
Could you explain how I could set up and then reference the template the .yml file?

Thanks in advance!
-Rick

From: Rakesh Senwar [mailto:notifications@github.com]
Sent: Saturday, February 10, 2018 2:10 PM
To: m3nu/invoice2data <invoice2data@noreply.github.com>
Cc: Tadokoro, Rick <Rick.Tadokoro@c

[2018-02-13 18:13] rsenwar commented on #57
You can add the template .yml file to templates folder, but make sure to have correct regex for fetching the data, you can debug the code whenever needed with --debug field in command line.

[2018-02-13 18:15] zoa414 commented on #57
Hi Rakesh-
Thanks for the feedback! I’ll give it a shot.  Thanks, my friend!
-Rick

From: Rakesh Senwar [mailto:notifications@github.com]
Sent: Tuesday, February 13, 2018 1:14 PM
To: m3nu/invoice2data <invoice2data@noreply.github.com>
Cc: Tadokoro, Rick <Rick.Tadokoro@capitalone.com>; Mention <mention@noreply.github.com>
Subject: Re: [m3nu/invoice2data] Can't extract single line data from invoices

[2018-02-14 13:16] akshay772 opened #61 "Adding tesseract to OCR and extract"
I am trying to get this module to work with image invoices too with pytesseract.
But I am facing a problem that the structure is not preserved when image is OCRed.

Hence some info is lost and I can't run regex over it. Lets say, I have a image of invoice of amazon. That have 2 orders that I bought(each order description can be 2 or more lines), for each order there is a corresponding amount attac

[2018-02-14 15:31] duskybomb opened #62 "Typo in TUTORIAL.md"
The line:
[code]
looks incomplete. There should be a word in between `Can the`

[2018-02-15 02:41] m3nu commented on #62
Merged. Thanks for the contribution ;-)

[2018-02-15 02:41] #62 closed

[2018-02-15 02:46] m3nu commented on #61
OCR is a bit challenging. I experimented with it some years ago but ran into the same issues. If text recognition is better now, the first thing I'd try is to remove white space.

[2018-02-15 02:47] m3nu commented on #59
A good regex tutorial will help. Out of scope here.

[2018-02-15 02:47] #59 closed

[2018-02-15 02:48] m3nu commented on #58
A unicode issue. Did you try a newer Python version or different input encoding?

[2018-02-15 02:50] m3nu commented on #45
You are running a Python script from another Python script via the shell? why not use the library directly? Or a real shell script to pass each file.

[2018-02-15 02:50] #45 closed

[2018-02-15 02:51] m3nu commented on #50
Yes. You can probably pass any string when using the library directly instead of the CLI tool. The text extraction from PDF and data recognition is separate.

[2018-02-15 02:51] #50 closed

[2018-02-15 02:53] m3nu commented on #34
We already support outputting structured fields as CSV. And the library uses dicts/json internally.

So adding a `--json` parameter would make sense to integrate with other (non-Python) tools.

[2018-02-15 02:54] m3nu commented on #33
Agreed.

[2018-02-15 02:58] rsenwar opened #64 "Adding a search feature"
Hello @m3nu , How about adding a search feature based on some keywords like name/amount/some other user input from many pdf files. This would be easy to add but would be much more useful. I have already implemented on my local Repo.  .

[2018-02-15 03:00] m3nu commented on #64
There are already other programs to search PDF files. Like Spotlight on MacOS. We just use keywords to select the correct template.

[2018-02-15 03:00] #64 closed

[2018-02-15 14:25] php- commented on #58
I'm using Python 2.7, and encoding of the pdf is UTF8 I think it should be working?
I can provide the template I've created and the file I've tried, but in private email if possible.

[2018-02-15 19:43] rsenwar commented on #61
@akshay772  You can try finding regex pattern by removing white spaces by adding 'remove_whitespace: true' under 'options' attribute for your template.

[2018-02-16 10:23] andreipetrescu95 opened #69 "Extraction of field from invoice"
Hello, i was wondering if there is any way that I could extract the name or the address from the ”buyer” field from this invoice using invoice2data.
[inv4.pdf](https://github.com/m3nu/invoice2data/files/1730924/inv4.pdf)

[2018-02-16 10:26] m3nu commented on #69
Not sure whether we support custom fields already. If not, it's a planned feature.

The current use case is that you are always the buyer and the seller is given by the template being used.

[2018-02-16 13:30] duskybomb commented on #33
@m3nu Can I work on this issue?

[2018-02-16 13:52] m3nu commented on #33
Sure. Small change. You already did a PR (#68), right? See my comment on the code [there](https://github.com/m3nu/invoice2data/pull/68/files#r168760750).

[2018-02-16 14:03] duskybomb commented on #33
@m3nu made the changes in the code for PR(#68) if you merge it, I can make a PR for this issue.

[2018-02-16 14:36] rsenwar commented on #33
@m3nu I am also working on the same issue, ( #67 ) Made some more changes to the PR.

[2018-02-16 14:52] m3nu commented on #33
Let's not overdo it for a 2-line change, folks. There are harder/more interesting problems to work on.

[2018-02-16 14:52] #33 closed

[2018-02-16 15:00] m3nu commented on #34
Custom CSV name is possible now, but people want more formats. What's needed? CSV, JSON, ..? @duskybomb

[2018-02-16 15:05] duskybomb commented on #34
How about XML and cXML @m3nu?

[2018-02-16 15:10] m3nu commented on #34
If you use XML, go ahead.

Since people want all kinds of crazy extensions, I see a modular workflow in the future. Where each step can be done using different modules/plugins:

1. Extract text (OCR, pdf2text)
2. Pre-process (remove white space, lower case, ...)
3. Extract matches using templates – no modules there I guess
4. Output (rename file, csv, json, xml, other crazy stuff)

[2018-02-16 15:51] duskybomb opened #70 "Cannot convert to CSV"
[code]
Need to replace `csv_output_name` with `args.csv_output_name`

[2018-02-17 00:07] #70 closed

[2018-02-17 08:24] m3nu opened #72 "Refactor for better modularity"
I took a first shot at restructuring to make the three processing steps more modular. I see three main steps that have interchangeable modules.

1. `input`: Read plain text from somewhere. Could be a PDF, website, ERP system. Currently only `pdftotext` works.
2. `extract`: Get fields using templates. I moved the line extraction feature into a subclass. There could be other subclasses for different

[2018-02-17 10:15] rsenwar commented on #72
@m3nu Exactly was I was thinking of !, we can have have separate folder for every layer. and then different functions/modules for each action within that layer. I think we should first work on v2 branch and make it smooth, then merge it to master branch.

[2018-02-17 11:19] m3nu commented on #72
That's the plan. PRs welcome. Especially for the JSON export. I'll look into making the processing stuff more flexible.

[2018-02-17 13:13] rsenwar commented on #72
Json export functionality added and some other errors removed and some filenames changed, have a look at my PR #73

[2018-02-17 13:15] rsenwar commented on #34
json output format added #73

[2018-02-17 13:50] m3nu commented on #72
You're on fire @rsenwar . Will look into it tomorrow.

[2018-02-17 22:13] hbrunn commented on #72
can't do a full review right now, but this looks very good on first glance!

[2018-02-18 02:28] m3nu commented on #69
You can already extract any fields you like, as long as you can put them in a regex. See the docs [here](https://github.com/m3nu/invoice2data/blob/master/TUTORIAL.md#fields).

[2018-02-18 02:28] #69 closed

[2018-02-18 03:08] m3nu commented on #72
Merged all your contributions @rsenwar and @duskybomb .

Also finished the plugin system, which should be very extensible now.

Tasks left before `v2` can be merged:

### Tests for command line tool
The most common way to test CLI tools with various arguments seems to override the `argparser` and replace it during testing. See the 2 links:

- http://dustinrcollins.com/testing-python-command-line-a

[2018-02-18 03:12] m3nu commented on #61
We are back to supporting different input methods in the upcoming `v2` branch. Tesseract is one of them. Not really tested yet, but I'll close this issue for now.

[2018-02-18 03:13] #57 closed

[2018-02-18 03:14] #55 closed

[2018-02-18 03:14] #52 closed

[2018-02-18 03:14] m3nu commented on #51
Closing for inactivity.

[2018-02-18 03:14] #51 closed

[2018-02-18 03:15] #53 closed

[2018-02-18 03:16] m3nu commented on #34
Solved. Thanks @rsenwar

[2018-02-18 03:16] #34 closed

[2018-02-18 03:23] m3nu commented on #58
Seems like you made a custom template and didn't add keywords.

Try adding some keywords, like company name or tax number, so `invoice2data` can pick the right template.

[2018-02-18 03:24] #61 closed

[2018-02-18 03:25] m3nu commented on #21
I changed the code a bit to only return a result, when required fields ('date', 'amount', 'invoice_number', 'issuer') are matched in the `v2` branch.

[2018-02-18 03:25] #21 closed

[2018-02-18 03:28] m3nu commented on #32
That's a warning related to the way we read template files. I just replaced it with `with ...` constructs. Should be solved now.

[2018-02-18 03:41] m3nu opened #75 "Brainstorming new features"
After looking at the available literature, here some ideas on new features:

- web interface and positional fields, like docparser[1] does. This means supporting different field types. Regex, positional, etc.
- Instead of XML export to UBL, which is a standardized version of XML[2]
- choose and classify fields with ML. [3, 4, 5]
- testing and improvements to OCR module.
- GUI to choose folders and

[2018-02-18 03:45] m3nu commented on #72
When we are done here, our 2 newest contributors should be added to the `README` as well of course.

[2018-02-18 07:24] duskybomb opened #77 "ResourceWarning: unclosed file"
I was running tests on CLI and received this warning
[code]
The test script is:

https://github.com/duskybomb/invoice2data/blob/patch-1/test.py

[2018-02-18 07:28] m3nu commented on #77
We probably open the pdf files incorrectly somewhere.  Just fixed this for the template files, but didnt fix it for pdfs.

You can try to fix it or open an issue for it pasting the error message.

[2018-02-18 07:28] m3nu commented on #77
Actually you already opened an issue. So thats done.

[2018-02-18 21:57] DumbledoreD opened #80 "Trouble Installing Poppler/pdftotext"
Hi,

I'm trying to use this as a lib on Python 3.6 on Windows. However, I'm having trouble installing pdftotext. When I do

`pip install pdftotext`

It first gives me the following error message:

[code]

After Googling for a while, I download a Poppler Windows Binary and add the directory to the INCLUDE environment variable. Now I'm getting the following error message.

[code]

I suppose I should

[2018-02-20 14:54] php- commented on #58
Well you think I'm so stupid that I did not do that?
its picking up right template but the problem is during the parsing the file

[2018-02-20 14:55] php- commented on #58
why you closed it?

[2018-02-20 14:57] m3nu commented on #58
I cleaned up issues that seemed non-programming related or impossible to solve.

Feel free to share your template and PDF and someone may be able to help you. As it stands there is too little information to help. So I closed it.

[2018-02-21 04:12] m3nu commented on #72
Since people are still filing PRs against the old branch, I suggest to merge `v2` on Monday.

On a different note there is still a demand for mentors to guide students working on this project over the Google Summer of Code. @hbrunn and @alexis-via would be suitable. To extend your own features and implement new features suggested in #75 . Details [here](https://wiki.debian.org/SummerOfCode2018/Pro

[2018-02-21 09:06] hbrunn commented on #72
great features, and thanks for the invitation. But I can't commit a [significant amount of time](http://write.flossmanuals.net/gsoc-mentoring/what-makes-a-good-mentor) the coming months, so I'll have to abstain.

[2018-02-21 13:11] duskybomb commented on #72
@m3nu how to Update Python versions we test on?

[2018-02-21 14:02] m3nu commented on #72
Has to be done in tox and circleCI. I'm not fully sure how or whether it's supported. Will check it out myself first.

[2018-02-24 21:35] utsav666 commented on #25
@m3nu  I have  immplemented the project you provided github regarding invoice2data. but is there any  machine learning approach on it .....like you have provided the regex features in yml manualyy how can I approch  these things with  machine learning!!!thank you

[2018-02-24 21:36] utsav666 opened #82 "machine-learning-approach for invoice2data"
@m3nu I have immplemented the project you provided github regarding invoice2data. but is there any machine learning approach on it .....like you have provided the regex features in yml manualyy how can I approch these things with machine learning!!!thank you

[2018-03-06 07:28] cjlcarvalho opened #84 "Export to UBL or EDIFACT"
Hello,

I want to start collaborating in this project. As I looked at https://github.com/m3nu/invoice2data/issues/75, there is an idea of new feature that involves export to UBL.

I want to know if there are enough benefits to this feature or if I should collaborate in other demand that is more important.

Any advice or information about the UBL feature will be appreciated.

[2018-03-08 17:02] AvatarSenju opened #86 "Lack of templates for Indian invoice issuers"
There is much lack of templates with regards to India companies which have high retail flux like flipkart and snapdeal and there may be differences in the Indian and other variants of the included firms like amazon India and Microsoft India.

PS:
So as a Solution and improvement to invoice2data I want to take this up as a project for GSoC 2018

[2018-03-12 06:21] utsav666 opened #88 "how do I post output to particular endpoint from main.py.....we are trying the file but it's not working"

[2018-03-12 06:23] utsav666 opened #89 "isuue of main.py"
how do I post output to particular endpoint from main.py.....we are trying the file but it's not working

[2018-03-12 06:30] m3nu commented on #88
Closing. Duplicate of #89

[2018-03-12 06:30] #88 closed

[2018-03-12 06:30] m3nu commented on #89
"how do I post output to particular endpoint from main.py.....we are trying the file but it's not working"

[2018-03-12 06:31] m3nu commented on #89
Can you be a bit more specific? I'm not sure what "endpoint" means here. This term generally refers to networked APIs.

[2018-03-12 06:36] m3nu commented on #86
You are correct. Most templates are EU and US-focused for now. Feel free to add new templates for India. Just make a new folder with the top-level domain.

[2018-03-12 06:38] m3nu commented on #84
Before you start, please look into

- the business case. Is this format used and supported by other tools?
- documentation. Where is the format documented? Are the specifications stable or changing?
- new dependencies. Any new libraries needed?

[2018-03-12 06:39] duskybomb commented on #89
I think he is asking 'how to send output to a specific directory?'. If yes, do this
[code]

[2018-03-12 15:13] AvatarSenju opened #91 "Additional option "Line break""
After using invoice2data and creating templates I faced some complications when handling invoices with lots of space and import data on the same line.
this can make using of regex after `remove_whitespace:` even more difficult so I am suggesting another option to be used before `remove_whitespace` to give a line break after 2-3 consecutive white spaces which could ease up the process of making new

[2018-03-13 14:06] WSPeng commented on #32
Strangely I still get this warning Unicode error...

[2018-03-13 14:33] duskybomb commented on #32
It is an error with pip relating to text encoding on Windows https://github.com/pypa/pip/issues?q=is%3Aopen+is%3Aissue+UnicodeDecodeError+setup.py

The only workaround is using python2.

I think this issue can be closed now.

[2018-03-13 15:17] WSPeng commented on #32
I tried in two windows and a Ubuntu computer, and only ubuntu one works, as expected.
I tried solution provided by sagaciousnisha3, it works, but I get "
WARNING:root:regexp for field invoice_number didn't match
ERROR:root:Unable to match some fields:
" for two example pdf out of four.

[2018-03-13 16:41] duskybomb commented on #32
@WSPeng if you want to use it in windows (accurately), you have to use python2. Can you try and confirm?

[2018-03-14 07:59] utsav666 opened #92 "Better error messages when dependencies for Tesseract are missing"
there is an issue with tesseract.py it gives error in line no 7 """"subprocess.Popen(convert.split(' '), stdout=subprocess.PIPE)"""" I repllace the line with this """"subprocess.Popen(convert.split(' '), stdout=subprocess.PIPE,shell=True)"""" but it gives a new error
""""-density: 1: -density: convert: not found
Error in pixReadMem: size < 12
Error during processing."""""

[2018-03-14 08:12] m3nu commented on #92
This error just means that the `imagemagick` library is not installed. This prerequisite should be mentioned in the README. Not sure if it is.

The Tesseract module didn't get much love recently. I'm sure there are some things to improve. Like properly checking for installed prerequisites.

[2018-03-14 09:20] WSPeng commented on #32
@duskybomb I installed python 2.7.14 and try it, it gives same error as python3.6 (can't extract data from QualityHosting.pdf and PAYPAL ENVATO MKPL EN 4029357733 AU.pdf)
Here is the detail:

WARNING:root:regexp for field invoice_number didn't match
ERROR:root:Unable to match some fields:

WARNING:root:regexp for field amount didn't match
WARNING:root:regexp for field amount_untaxed didn't match
W

[2018-03-15 11:59] m3nu commented on #72
Generally done.

[2018-03-15 11:59] #72 closed

[2018-03-15 12:34] utsav666 opened #95 "Discussing new approach"
Well for initial purpose this repo is absolutely perfect in fetching the entities.......but how could we make this usecase possible using a ml approach(tensorflow,keras etc....).So just to start with the new thought I am sharing a repo which is fetching the table from pdf using ml..here is the link  https://github.com/HazyResearch/TreeStructure .....you can go through this and let have a brainstor

[2018-03-15 13:26] m3nu commented on #95
Thanks for the input. This direction would be quite interesting. Do you mind if I move this to another issue where I already collected relevant links and ideas? It's #75.

[2018-03-15 13:26] m3nu commented on #95
Moved to #75

[2018-03-15 13:26] #95 closed

[2018-03-15 13:27] m3nu commented on #75
@utsav666 commented an hour ago:

[2018-03-15 13:43] m3nu commented on #89
Some documentation on this was added to the README today. I'm still not fully clear on the actual question. Will close for now. Feel free to reopen with a detailed error report. Thanks.

[2018-03-15 13:43] #89 closed

[2018-03-15 13:45] m3nu commented on #84
You still wanna work on this @cjlcarvalho ?

[2018-03-15 13:57] cjlcarvalho commented on #84
Yes, I'll try to start during the next week. I'm currently involved with some university appointments.

[2018-03-15 19:33] AvatarSenju commented on #86
@m3nu I have submitted a draft proposal for this project for the Summer of Code with Google and I would humbly request you to review it.
It would be really helpful if you could provide some medium for personal contact or ping me on my email : anushrut5@gmail.com

[2018-03-18 03:55] m3nu commented on #75
There should be an easier way to create and manage templates. Maybe as web service? Many people won't know regex or can do pull requests. But they can probably choose from a list of possible keywords and still aid in template creation.

[2018-03-18 05:20] sanjay-94 commented on #75
If we are to build a chrome plugin or some form of UI for this, we can pull in the fields from the initial text processing and show them to user. Then the user can select which fields to be extracted for the template and also key in some keywords for the template. And they can save it as a custom template.

[2018-03-18 05:32] sanjay-94 commented on #75
Yes a web service looks like a good idea to manage templates instead of a pull request each time a template is created. I was thinking of the possibility of saving these templates into a database rather than as files for easier management. Any suggestions?

[2018-03-18 06:31] AvatarSenju commented on #75
For gui features we could implement Tkinter, it might also help improve stability in Windows, and for web based services I suggest that we look into implementing Django into the project, it eases the use of database and different app models for the project

[2018-03-18 23:41] sanjay-94 commented on #75
Hmm yes. Django seems like a good option to implement the web services. It supports NoSQL databases like MongoDB as well, which I feel, is a good option to store our templates. And MongoDB even supports dumping the collection in JSON format natively, which I feel is good for building the services for templates.

[2018-03-18 23:49] sanjay-94 commented on #8
How do you suggest we do this? Do you think validating the data returned based on the regex expression defined in the template is a good idea? Or should we just see if any data is returned or none is returned. I didn't quite get the concept of validated dicts you mentioned. Can you explain it ?

[2018-03-18 23:56] sanjay-94 opened #97 "Unicode Decode error while opening some templates"
I am getting the following error while opening some templates.

`templates += read_templates(os.path.abspath(args.template_folder))
  File "/Users/sanjay/code/invoice2data/invoice2data/invoice2data/extract/loader.py", line 47, in read_templates
    tpl = ordered_load(template_file.read())
  File "/Users/sanjay/PycharmProjects/test/venv/bin/../lib/python3.6/encodings/ascii.py", line 26, in decode

[2018-03-19 04:15] m3nu commented on #97
We already have a similar issue #32.

If you like you can do a pull request for your suggested fix. Instead of passing the `encoding` parameter, you can also consider using the `codec` module, if it's supported in Python 2 and 3. It may be even more reliable than hard-coding a certain encoding.

[2018-03-19 04:17] m3nu commented on #75
We'll surely not add Django to the current project. It would be more like a add-on. There could still be a GUI to edit the templates. Testing should be covered as well. Like saving expected results for some test PDFs.

[2018-03-19 04:31] m3nu commented on #91
So you want to insert line breaks when there are too many spaces? Not sure how this helps. Any examples?

[2018-03-19 08:34] m3nu commented on #8
This is the issue in question @duskybomb . You can add comments on how to best compare output here.

[2018-03-19 10:23] duskybomb commented on #8
What I am trying to do is, I first ran the script on the pdfs in the test folder. Then I saved their data in other files which are kept in the compare folder. So, after any changes are made if we run tests, it compares the files created by the test script to the files in compare folder.

[2018-03-19 13:48] sanjay-94 opened #101 "Storing templates in MongoDB"
As being discussed in the ideas page, building web services will help users manage templates better. This is a stepping stone towards that idea. If we can store templates in a database, we will be able to write web services to manage them easily. Today I had some free time and I began experimenting on this idea. It turned out to be pretty fruitful.

For the databases part, I chose MongoDB due to i

[2018-03-19 14:19] m3nu commented on #101
That's a big plan. I'm just afraid it's not related to the core functionality and running and maintaining this kind of web service in the long run won't be easy. The API model you suggest is also too slow.

Maybe better to start a bit smaller and focus on core functionality first. Like having working test to validate templates.

[2018-03-19 22:37] sanjay-94 commented on #101
Got it @manuel. Closing this issue as it’s not related to core functionality.

[2018-03-19 22:37] #101 closed

[2018-03-19 23:51] sanjay-94 commented on #97
I have made the changes using codec and chardet modules. Sent the PR.

[2018-03-19 23:58] sanjay-94 commented on #58
@php- Could you share us the yml template and the PDF, if possible, so that we can take a look into this issue?

[2018-03-21 22:18] sanjay-94 commented on #97
Issue has been fixed.

[2018-03-21 22:18] #97 closed

[2018-03-27 19:18] duskybomb commented on #75
@m3nu I have made a prototype for GUI implementation using PyQt5. Visit [guiInvoice2data](https://github.com/duksybomb/guiInvoice2data).

If you get time have a look at it and also if you can rerun the tests of `test-patch` branch of forked repo it will be highly appreciated.

[2018-04-04 07:56] karhtickvalentino opened #105 "Getting Started"
Hi,
I have installed all the packages necessary. When I try to run the build in PDFs, I get the correct output. How should I run my PDFs. When i run my PDF I get : ERROR:invoice2data.main:No template for invoice.pdf.
How should I specify the templete to be used for specific invoices.

Thanks

[2018-04-04 08:09] m3nu commented on #105
This means that your invoice isn't covered in a template yet. You are welcome to add one or post it here, so someone else can create a template.

[2018-04-04 09:10] karhtickvalentino commented on #105
The invoice format is different for every customer. So Should I create a template for every new format?

[2018-04-04 10:35] m3nu commented on #105
Generally every company has _one_ invoice template. I didn't see a case where they redid the invoice for each customer...? By this I mean that address, date, total will be in the same place, while the individual fields and items are different of course.

[2018-04-04 10:48] karhtickvalentino commented on #105
Can you please give me the template for the below PDF. So i will get better at designing template.
Thanks.
![invoice_demo](https://user-images.githubusercontent.com/28265412/38303375-87081200-3823-11e8-883c-c4f0a56a562e.png)

[2018-04-05 15:00] scotthansonde opened #106 "Concatenate 2 or more matches in template fields"
I have a vendor that puts a decimal point in the middle of their invoice numbers. I'd like to be able to return the invoice number without the decimal point by matching something like
`invoice_number: BelegNummer:*(\d+)\.(\d+)`
and concatenating the two matches.

I was able to implement this locally with a one line change, but I don't really know python so I'm not sure this is a good change. :-)

[2018-04-06 00:48] m3nu commented on #106
That's a very specialized case, but the change may still be useful for other situations. Let me test for issues and then merge.

[2018-04-06 00:52] m3nu commented on #105
You can look at existing templates to learn about it. There are almost 100 available by now contributed by different people and companies.

If your company needs specific templates added, they should hire a developer to carry out the work. As an open source project we are mainly interested in improving the underlying library, rather than implementing specific business cases.

[2018-04-06 00:52] #105 closed

[2018-04-16 15:44] papascott opened #108 "Use -table instead of -layout for pdftotext?"
Or make it an option? I find that -table works better at keeping things on the same line when the invoice has columns.

For example, for an invoice like this:
![screenshot_600](https://user-images.githubusercontent.com/8681117/38819991-1ead62fe-419d-11e8-8796-eb7ed91c84d0.png)
I want to match the numbers after "Gesamt". Using -layout it outputs:

[code]
while with -table it outputs
[code]

[2018-04-17 00:27] m3nu commented on #108
You're right. This should be an option. I suggest to add it to the template. So the template author has full control over how his input data was created.

Small chicken-egg problem of course because we also need to parse the invoice initially to find the keywords. I'll mark it as new feature for now.

[2018-04-18 04:10] RobertLemmens opened #109 "Tesseract: AttributeError: 'str' object has no attribute 'decode'"
Ive been trying out the tesseract ability but i keep getting this particular error. I see it go through page 1 and then page 2 and then it throws the following:

Traceback (most recent call last):
  File "/usr/bin/invoice2data", line 11, in <module>
    load_entry_point('invoice2data==0.2.81', 'console_scripts', 'invoice2data')()
  File "/usr/lib/python3.6/site-packages/invoice2data/main.py", line

[2018-04-18 15:50] RobertLemmens commented on #109
Quick update on this; i downloaded the source and removed .decode('utf-8') on line 13 in tesseract.py because it seems that main.py already does this and now it compiles fine. I dont usually work with python but ill put in a PR so you can look at what i did. Im still not sure if its something on my end or with the framework

[2018-04-20 15:13] blade3609 commented on #109
I had to do the exact same thing, now it works in python 2.7 and Python 3.5

[2018-04-20 23:52] m3nu commented on #109
Good find @RobertLemmens . I believe someone only changed this recently. I'll check why this wasn't covered by tests.

[2018-04-20 23:54] m3nu commented on #109
Merged your PR. The Tesseract module is not very frequently used and we don't test it yet. Hoping to see some improvements here over the summer.

[2018-04-21 03:40] rlgn opened #111 "Abolish required fields in favor of more flexibility, set required fields in template?"
Here's what I got:

fields:
  Carrier: [A-Z0-9]
  Attn: \W
  Phone: \s+(\d{3}-\d{3}-\d{4})
  Fax: \s+(\d{3}-\d{3}-\d{4})?
  MC Number: \s+\d+
  "BOL #": \s+[0-9A-Z]
  Commodity: \s+[A-Za-z]
  Reference: \s[.]
  Earliest Date: \s.
  Latest Date: \s.
  Buyer: \s.
  Email: [A-Za-z\.\@\s]
  Contact: \s.
  "PO #": \s+[0-9A-Z]
  "Pick Up #": \s+[0-9A-Z]
  "Delivery #": \s+[0-9A-Z]

keywords:
  - Company

[2018-04-21 03:47] m3nu commented on #111
Thanks for bringing this up. It has been on my list for a while. Some background:

When `invoice2data` was first conceived I only wanted to process invoices that had all the fields I needed for accounting. So some fields, like `amount`, `date` and others are required.

Now, in 2018 people are using the library for more general purposes, which is clearly a good thing. So I think it's time to remove

[2018-04-21 03:51] rlgn commented on #111
Forgive me for being ignorant with this question, but where can I find the required fields part to remove them?

[2018-04-21 03:52] m3nu commented on #111
Good question actually. Let me find the right line.

[2018-04-21 03:54] m3nu commented on #111
Here the relevant part: https://github.com/m3nu/invoice2data/blob/master/invoice2data/extract/invoice_template.py#L173

As you can see we are checking for `['date', 'amount', 'invoice_number', 'issuer']`

You could either rename your own fields for now or we keep those as defaults and allow overriding them in the template? That way only fully-matched documents are processed.

[2018-04-29 17:03] duskybomb commented on #32
I think this issue has been resolved by #99
We should close this.

[2018-04-30 03:44] m3nu commented on #32
Let's hope so. Closing.

[2018-04-30 03:44] #32 closed

[2018-05-05 21:26] duskybomb commented on #109
`.decode('utf-8')` was added because to fix the problems which occur in Windows.
See #32 and #99

[2018-05-06 03:51] #111 closed

[2018-05-06 05:51] m3nu commented on #84
[EDIFACT](http://www.unece.org/trade/untdid/d02b/trmd/invoic_c.htm) is another established standard to exchange machine-readable invoice data. Let's look into this as well.

[2018-05-09 23:42] msalaj opened #114 "Save all fields to json?"
Hi, how it is possible to save all fields from template to json file? Currently, only date, amount and desc is written into output file. Program write complete json to screen but it writes only three fields to json file. Thank you

[2018-05-10 09:15] m3nu commented on #114
Good idea. We didn't allow custom fields, when the json-export was implemented. Will mark this as new enhancement. Or you can do a PR, if in a hurry.

[2018-05-10 11:03] jaymal opened #115 "No handlers could be found for logger "invoice2data.main""
Hi,
I get this message

after  running this

`from invoice2data import extract_data

result = extract_data('path/to/my/file.pdf')`

What could be wrong?

[2018-05-10 12:09] m3nu commented on #115
Couldn't reproduce this with Python 3 on MacOS.

Any relevant detail you can provide on your environment? Maybe some weird logger settings?

[2018-05-10 12:13] m3nu commented on #115
<img width="733" alt="screen shot 2018-05-10 at 20 08 55" src="https://user-images.githubusercontent.com/3916435/39868898-20674d04-548e-11e8-82d4-31dacb741a97.png">

[2018-05-10 12:56] m3nu commented on #115
Just tried your code in Python 2.7.14 Still works as expected.

[2018-05-10 12:59] m3nu commented on #84
We'll implement this via another project that uses `invoice2data` internally. So I'm closing it here.

[2018-05-10 12:59] #84 closed

[2018-05-10 12:59] m3nu commented on #58
Closing for inactivity.

[2018-05-10 12:59] #58 closed

[2018-05-10 13:00] m3nu commented on #31
Closing for inactivity.

[2018-05-10 13:00] #31 closed

[2018-05-10 13:02] m3nu commented on #106
You can probably solve this by changing the regex group a little bit. Like:

`invoice_number: BelegNummer:*(\d+\.\d+)`

This will capture both parts plus the dot.

[2018-05-10 13:18] jaymal commented on #115
Ok I will upgrade to 2.7.12 and get back with my result.Thanks

[2018-05-11 08:00] jaymal commented on #115
I tried python 3 and it looks fine now.Thanks

[2018-05-11 08:00] #115 closed

[2018-05-11 09:33] jaymal opened #116 "Getting started"
Hi,
Please, how do I specify whether to use pdfminer or tesseract from here

result = extract_data('path/to/my/file.pdf')

Thanks.

[2018-05-11 10:08] duskybomb commented on #116
`result = extract_data('path', pdfminer)`
Similarly for tesseract use `tesseract` instead of `pdfminer`

[2018-05-11 10:16] jaymal commented on #116
@duskybomb  Thanks I already tried those before the asking.I got

  File "sample.py", line 4, in <module>
    result = extract_data('/home/vagrant/Code/invoicebox/python/pdfs/Flipkart In
voice.pdf',pdfminer);
NameError: name 'pdfminer' is not defined

[2018-05-11 11:46] m3nu commented on #116
Your code example is missing the most basic imports. Maybe you can find someone who can help you with the Python part? Alternatively just use the CLI interface, if you are very new to Python. @jaymal

That said, we should also add some docstrings to explain the public-facing functions a bit, @duskybomb . Let's make a todo for this.

[2018-05-11 12:58] jaymal commented on #116
@m3nu :)  Yes am very new and this is my first python module am dealing with.I intend to use this some PHP project am working on but as it is I guess I'll have to invest some extra more hours on python. :D
Thanks

[2018-05-13 03:59] #75 closed

[2018-05-13 17:44] duskybomb commented on #109
Tesseract module is not working well. There were simple issues such as
`$101.00` was being read as `$101. 00` and hence says some fields are not matching, therefore not much point in making tests at this point (almost zero usability). I was reading more about tesseract module and they have released v4.0(beta) on 28 March 2018, I hope it works better.

[2018-05-14 03:07] m3nu opened #119 "Add proper Docstrings to all public functions and classes"
To help users get started quickly, let's add some docstrings. I linked to some style guides in the [wiki](https://wiki.debian.org/SummerOfCode2018/Projects/ExtractingDataFromPDFInvoicesAndBillsDetails) that deal with the practice.

[2018-05-14 03:09] m3nu commented on #114
No. Unit testing means that a single functional unit is tested. So testing extraction and templates at the library level is the right thing to do. The GUI relies on this functional units and adds on them.

[2018-05-14 05:27] duskybomb commented on #114
There are two ways to implement this
 * Adding it to template where author specifies fields he wants to dump (I am not in favour of this)
 * Using cli, with an option to dump default fields or all the fields.

[2018-05-14 05:32] m3nu commented on #114
Let's always dump all fields. No need to specify or make a template.

[2018-05-14 09:15] m3nu commented on #8
We need to test:

- library
- cli functions

Both needs some sample files + expected output. I suggest

1. Rename the test PDFs to remove spaces. Spaces often cause trouble elsewhere.
2. Make a json-file with the same name, but the `.json` extension.
3. For the test iterate over all possible test files and compare the extracted/saved values.

[2018-05-14 13:34] duskybomb commented on #114
Closing this one.

[2018-05-14 13:34] #114 closed

[2018-05-14 15:13] duskybomb commented on #119
Should I add single line docstring (telling what it does and returns) or a multi-line (giving info about all variables and return values)?

[2018-05-14 15:30] m3nu commented on #119
Complex public-facing functions will need multiple lines with all details.

Simple internal helper functions may only need a single line.

[2018-05-14 15:39] m3nu commented on #119
In the end, anyone who never used the library needs to know enough about arguments and return values to get started quickly. This is true for invoice2data and even more so for facturx.

[2018-05-14 15:50] duskybomb commented on #119
How does this look for extract_data()
[code]

[2018-05-14 16:28] m3nu commented on #119
- The text could use some more detail on what the function does.
- The return desc is fine.
- Parameters also need more details. E.g. if a file point can be passed instead of a string (path).

Like in maths this needs precision because those things make a difference.

[2018-05-14 17:30] duskybomb commented on #119
Like this?
[code]

[2018-05-15 01:16] m3nu commented on #119
I like the idea of giving an example. That's good. PEP doesn't define a sample for an example, but Google [does](http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html).

For the first sentence, let's avoid the word "e-invoice" since it's not defined or used anywhere.  Maybe like this:

The list (reads template...) is really an extension of input and output params. So let's mov

[2018-05-15 01:46] duskybomb commented on #119
I was using e-invoice and avoiding PDF invoice because `invoicefile` doesn't necessarily be a pdf. Can also be an image, right?

[2018-05-15 01:53] m3nu commented on #119
Valid point. It can be in image if the right input-module is chosen. But that's not documented or tested anywhere. You can add this feature when improving the OCR module.

Until then you could use "path to electronic invoice file in PDF, JPEG or [whatever is supported] format". "E-invoice" alone is more like a brand name and not clearly defined.

[2018-05-15 02:26] duskybomb commented on #119
Done.
[code]
Should I make a PR now?

[2018-05-15 02:30] m3nu commented on #119
Looks good. Let me just go over all the changes. Then I probably push a small commit. Then you can merge the branch. I'll also be on IRC today and working on factur-x for most of the day.

[2018-05-15 04:47] duskybomb commented on #119
[code]
based on Numpydoc. Please check IRC

[2018-05-15 05:00] duskybomb opened #122 "Improve the extract_data to read custom template when used as a library"
Currently, templates are read inside `main()` as well as `extract_data()`. Hence, whenever user uses `invoice2data` as an external library in order to use custom template he needs to pass instance of `InvoiceTemplate` which looks like this
[code]
Hence not very handy to use.
Suggestions:
 * Pass argument for template folder to `extract_data()`
 * read  templates from template folder if defined in

[2018-05-15 06:54] m3nu commented on #77
This is likely related to `Argparser` opening the input files. We shouldn't have `Argparser` open any files.

[2018-05-15 07:09] duskybomb commented on #77
This one is not because of `Argparser`, because the warning is while testing from `test_extraction.py` and we don't use `Argparser` there

[2018-05-16 05:06] akashjobanputra opened #125 "Regex result in group instead of match string"
RegEx:
[code]
RegEx result using ```import re```
[code]
Result from YAML-template:
[code]
Result from invoice2data is the first group from the matched string, instead of entire match string. And last time I checked multiple groups were not supported yet.

**UPDATE**:
I noticed the function used is re.findall() which returns the matched group.
[invoice2data/invoice2data/extract/invoice_template.py#

[2018-05-16 11:19] m3nu commented on #125
I guess we just return the first match and don't take capturing groups into account currently.

Any specific question or request you have here?

[2018-05-17 09:26] m3nu commented on #125
One reason is that the same value could appear multiple times. so we only take the first match.

Beyond that the regex has 2 purposes: find the right place, getting specific data. You will never want to return everything. Like the label.

What would be your desired behavior? Concat all groups if more than one is found? We can never return the whole match because it would include the label. But I'm

[2018-05-18 07:58] duskybomb commented on #8
Can I compare two json files, test and saved one, like this?
[code]

[2018-05-18 08:31] duskybomb commented on #8
I am doing json compare like this now:
[code]

[2018-05-18 08:31] m3nu commented on #8
I didn't test the code. You basically want a "deep comparison of dicts". I'm sure there are some best practices.

[2018-05-18 08:35] duskybomb commented on #8
I was searching found this: https://stackoverflow.com/questions/34414326/why-is-assertdictequal-needed-if-dicts-can-be-compared-by

[2018-05-18 08:38] m3nu commented on #8
Looks like a good answer. Please try to work independently where possible. Mentoring doesn't mean we do everything together. I can't respond to small questions 24/7.

[2018-05-19 03:41] duskybomb commented on #8
Making a list of functions for which I need to make tests, when using invoice2data as a library:

- extract_data()
- to_json.write_to_file()

[2018-05-19 04:56] m3nu commented on #8
Yeah. That should cover most.

- `extract_data()`
- all export functions (via comparison file?)
- pdf parsing/ocr modules
- All cli options. Partly exists.

Bonus points: Use a tool to measure test coverage and see whether we forgot something.

[2018-05-19 08:29] duskybomb commented on #8
I thinking doing comparison will be just over-checking and unnecessary because we do compare outputs in `test_cli.py`.

[2018-05-19 08:30] m3nu commented on #8
You can choose where to compare, but there should be one place that compares results to PDF files.

[2018-05-19 08:32] duskybomb commented on #8
Yep, I have implemented it in `test_cli.py`

[2018-05-19 08:34] m3nu commented on #8
Great. Then we just have:

- `extract_data()` - works as expected with arguments.
- pdf parsing/ocr modules - make sure they produce output. no need to compare the output. Since e.g. OCR is not always the same.
- cli (also compares exports and file contents)

[2018-05-19 09:15] duskybomb commented on #8
All done sir. CI is failing with
- pdfminer tests: pdfminer is not installed, like tesseract module is being installed
- tesseract module: because there is no matching template, as results(extracted text) are not very good.
Except these two, everything works as expected.

[2018-05-19 09:31] m3nu commented on #8
Thanks. I'll deal with those and merge it tomorrow.

If you still have time you can get facturx working with your PDF. I suspect a field in the metadata doesn't exist in that PDF. Will be good to get to know that project.

[2018-05-21 03:26] m3nu commented on #92
This is almost fixed. Commit still needs some work as the conditions are wrong and there is a typo in the import statement.

[2018-05-21 03:27] m3nu commented on #8
Already merged. Still adding final tests for pdfminer in branch `issue/8-2`

[2018-05-21 03:28] m3nu commented on #77
Closing since it wasn't a problem for a while. Maybe fixed.

[2018-05-21 03:28] #77 closed

[2018-05-21 03:32] duskybomb commented on #92
Yes, I don't know how it happened. Make the correction though.

[2018-05-21 04:58] #92 closed

[2018-05-22 18:26] duskybomb commented on #8
Should we close this?

[2018-05-23 04:33] m3nu commented on #8
Yeah. Fine.

[2018-05-23 04:33] #8 closed

[2018-05-23 14:22] Assassinkin opened #132 "importing `pdfminer` but it is not in requirements."
in `input/pdfminer_wrapper.py` i see that the module pdfminer is being imported but it is not in the requirements

Am I missing something or it should be added in the requirements.

[2018-05-23 23:38] m3nu commented on #132
It doesn't work very well and is only optional. So it's not in the requirements.

[2018-05-24 00:17] flokli opened #133 "problems with paths or file names containing spaces"
trying to read a file called "2018-05-09 foo.pdf", invoked via
[code]

[code]

[2018-05-24 00:20] m3nu commented on #133
Thanks for the report. @duskybomb will look into it. Maybe due to the space that's not passed to Tesseract correctly.

[2018-05-24 00:58] Assassinkin commented on #132
@m3nu  Thanks, Any ETA on when that can be fixed ?

[2018-05-24 01:00] m3nu commented on #132
Fix what? We won't put `pdfminer` in the requirements because it's not the default and doesn't work too well compared to `pdftotext`.

[2018-05-24 01:04] m3nu commented on #132
If you use `pdfminer` just install it in addition and it will work. We just tested it this week. But we don't like the way it extracts text. Makes it hard to get information out. Since there may be some use cases where people want to use it, we still keep it as optional module.

[2018-05-24 01:12] Assassinkin commented on #132
Ahh ok i thought there was an issue on how it is being used (code wise). Thanks for the clarification.

[2018-05-24 01:12] #132 closed

[2018-05-24 01:14] m3nu commented on #132
No no. Just trying to keep requirements down. If pdfminer works for you, just keep using it.

[2018-05-24 04:26] duskybomb commented on #133
I can confirm that this error is because of space and we cannot do anything about it, it's the problem with `imagemagick` module. Works fine with `pdftotext`
So just remove white-space from file name and you will be good to go @flokli

[2018-05-24 04:31] m3nu commented on #133
Not true, @duskybomb.  While I avoid spaces in filenames, there is generally a way to escape spaces when passing them to the command line.

The issue is with these 2 lines:

[code]

This is terrible code because the command is built as string. The correct way is to build it as list and pass it to `subprocess`. E.g. ([from](https://docs.python.org/3/library/subprocess.html) the official docs)

`sub

[2018-05-24 05:38] duskybomb commented on #133
Will be using `Popen` instead of `run`, since run is not supported in python2. I tried this:
[code]
and it works well. Should I continue with a PR?

[2018-05-24 05:52] m3nu commented on #133
Yes please.

[2018-05-24 05:54] m3nu commented on #133
`convert.split(' ')`

Not sure what this does or why it even works. Does a list have a `split()` function? Thought that's for strings?

[2018-05-24 05:54] duskybomb commented on #133
I have removed `split()` don't worry

[2018-05-24 06:03] duskybomb commented on #133
I think you need to fix CI for commits. It is not working?

[2018-05-24 06:07] m3nu commented on #133
True. Reconnected it. Hope it works now. https://circleci.com/gh/invoice-x/invoice2data

[2018-05-24 06:18] duskybomb commented on #133
Build failed on this `$ git push origin master --tags`

[2018-05-24 07:18] #125 closed

[2018-05-24 07:41] flokli commented on #133
@m3nu any way to properly integrate this with github, so we see that next to PRs?

[2018-05-24 07:43] m3nu commented on #133
It's already integrated. We recently moved the repo to a dedicated organization and the key wasn't set up yet. We used it for a long time before already.

See here: https://circleci.com/gh/invoice-x/invoice2data

[2018-05-24 07:44] m3nu commented on #133
Fixed by @duskybomb via 332b111eb2e684249dc58fbb2f19e8deb437cdaa

[2018-05-24 07:44] #133 closed

[2018-05-26 08:48] duskybomb commented on #8
We can use [Coveralls](https://coveralls.io/) for coverage. What do you think?

[2018-05-26 12:10] m3nu commented on #8
Any tool to monitor coverage is better than no tool.

[2018-05-26 13:46] m3nu opened #136 "Convert Markdown to RST in setup.py"
As you know, Python packages are published on PyPi. For this project, this happens after successful builds.

Since PyPi expects Restructured Text files for the readme, our Markdown doesn't look as good. There are some libraries to convert MD to RST. I suggest to use one for conversion to make the page look better. Other projects do the same. Suggest to see what's the best way to implement it.

[2018-05-26 14:03] duskybomb commented on #136
Pandoc is a popular one.

[2018-05-26 14:06] m3nu commented on #136
Anything that works. Is there any established solution that the user doesn't need to have pandoc installed during installation?

[2018-05-26 14:11] duskybomb commented on #136
Why does the user need to have Pandoc installed? We are just converting files from MD to rST, right?

[2018-05-26 14:13] m3nu commented on #136
Because the Markdown file is converted in `setup.py`. This file is also called during installation.

We can also do it manually for now. Please just add the command to `DEVELOP.md`.

[2018-05-26 14:16] m3nu commented on #136
https://stackoverflow.com/a/23265673

[2018-05-26 14:26] duskybomb commented on #136
I tried pandoc, I don't think auto conversion from markdown to rST would be a good idea. It messed up a few bullet points while converting `README.md`.

[2018-05-26 14:27] m3nu commented on #136
I guess README.md can be changed to account for that.

[2018-05-26 14:28] duskybomb commented on #136
Let me check, how that can be done.

[2018-05-26 14:58] duskybomb commented on #136
Now there is one issue, pandoc is not able to convert hyperlinked image (CI badge). (Works if there is no link to CI)

[2018-05-26 15:03] m3nu commented on #136
Pure HTML may work. The hyperlink isn't necessary. Just the image will be enough as well.

[2018-05-26 16:55] flokli commented on #136
Added a PR converting the README in the repo from markdown to rst, see above.

Conversion at install time is a very spooky and error prone thing IMHO introducing dependencies, so why not simply converting into the format better suited for PyPi for once and be done?

[2018-05-27 00:59] #136 closed

[2018-05-27 01:00] m3nu commented on #136
Good point. Let's go with that. Also a good practice to learn editing the Debian Wiki.

[2018-05-27 05:57] m3nu opened #139 "Add section on coverage to DEVELOP.rst"
This is to see how good our tests are and to help everyone adding tests later.

[2018-05-27 06:26] duskybomb commented on #139
I did make a PR #135, if you can check. It will bump up the coverage.

[2018-05-27 06:35] duskybomb commented on #139
Coverage is 89% now

[2018-05-27 06:36] duskybomb commented on #139
![image](https://user-images.githubusercontent.com/13499577/40583157-596c4d78-61a6-11e8-9a9b-7a8467d92eb2.png)

[2018-05-27 06:38] #139 closed

[2018-06-07 19:41] Invigor opened #141 "Identify Payment Method"
Hi,

I'm looking for a way to identify the payment method used for the invoice or receipt.

This is typically indicated with the words "VISA", "CASH" or "MCARD" in the receipt (see attached)
but I don't think I can simply add a field to the template with REGEX that is searching for these terms as I need to return a standard ENUM for the different payment types.

Can anyone think of a way to do thi

[2018-06-07 19:58] m3nu commented on #141
can you help, @duskybomb ?

[2018-06-07 21:38] Invigor commented on #141
Hi all,

I've added a new option to the template as follows:

[code]
It will look for all of the options and return `field_name` with value `option_static` if found.

Note that the list is in priority order i.e. will loop through the options in order and only return the first match.

If no match is found, 'not_found' is returned as the value.

e.g.
[code]

The code is as follows and is added to in

[2018-06-08 03:52] duskybomb commented on #141
Sometimes a bill is split into different payment methods, like half in cash and half through card.
We can add a new option `payment_method` inside `fields` in template.
[code]
Then there is slight change in `invoice_template`. In `extract()`. The additions have been marked as `# *`
[code]
What do you think @m3nu?

[2018-06-08 04:30] m3nu commented on #141
It's already possible to define custom fields. There is no need to hardcode it, like you did. If you do it like this, all your field settings will be in Python code eventually. Field settings need to be in the vendor template only.

[2018-06-08 05:20] duskybomb commented on #141
[code]
I don't think we were handling lists properly
`# +` : refers to addition
`# -` : refers to deletion
[code]

[2018-06-08 05:50] m3nu commented on #141
I think OP is only interested in the name of the payment method. Like "VISA", etc. So the amount doesn't need to be extracted. `(VISA):\d+\.\d+` We have that elsewhere.

Can you make a PR and test case for this addition?

[2018-06-08 06:01] duskybomb commented on #141
Working on PR, but for test case we would need a sample invoice (preferably in PDF format).

[2018-06-08 06:57] m3nu commented on #141
Merged. It would be interesting to see if Tesseract is good enough to process the invoice posted by OP.

[2018-06-12 05:36] duskybomb commented on #141
I was able to get this file work with tesseract but I needed to edit the image (Croped it and adjusted brightness and contract). Plus I used tesseract 4.0 (alpha)
![inv](https://user-images.githubusercontent.com/13499577/41271834-3423a008-6e02-11e8-85ca-5ce16caffbeb.jpg)
Here is the tesseract-ocr output text:
[code]

[2018-06-14 09:15] devanshusomani99 opened #144 "a `line` having multiple lines"
What if the `lines` in the invoices are itself parsed as multiple lines? Can the line regex contain `\n` ?

[2018-06-14 09:54] #144 closed

[2018-06-14 09:56] devanshusomani99 opened #145 "Printing different lines as different rows/columns in csv"
As of now, the different lines are made into an array and are all stuffed in one single column which looks pretty messy.

So, can you introduce a feature (maybe an option) so that different lines are printed in different rows/columns?

[2018-07-03 18:25] fafa92 opened #147 "Handlers problem"
Hi,
I'm trying to use your library for Amazon's invoice .png file, I run this code and I get the following error. Has anyone faced the same issue?

from invoice2data import extract_data
result = extract_data('Amazon.png')

No handlers could be found for logger "invoice2data.main"

[2018-07-04 06:20] mahendra047 commented on #141
How i use it for extracting the retailer name ,date,total and the items with price from receipts.i want to         preprocess lot of supermarket receipts before giving the tesseract 4.0 .

can we use  invoicetodata  for receipts images only for extracting items and other fields .any suggestion ...
thanks in advance

[2018-07-05 01:13] m3nu commented on #141
You can define your own fields and add new templates. The process is roughly:

1. Find the template folder in this repo or locally.
2. Choose a similar template as base and look into the [template docs](https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst).
3. Make your own new template based on debugging and looking at OCR output.
4. Add your own template folder to the templates to

[2018-07-05 03:07] mahendra047 commented on #141
Thanks a lot Manu,

On Thu 5 Jul, 2018, 6:43 AM Manu, <notifications@github.com> wrote:

[2018-07-06 02:04] pasky opened #148 "Elis support"
Would it make sense to also allow querying online APIs for invoice data capture, as an alternative to the template matching method?

Of course, there are typically commercial ones - the first on my mind would be Rossum Elis (the data extractor), which has open registration and a free monthly quota (and I'm affiliated with Rossum :) ). Though it would be worth making this modular obviously, as it's

[2018-07-06 02:50] m3nu commented on #148
If developers use your service for data extraction it will be easier for them to integrate their workflow directly instead of using the `invoice2data` package. The only tasks left to do are opening and submitting files. I wouldn't want another dependency just for that.

With that being said, I would still be open to adding and maintaining an API wrapper for your [invoice extraction API](https://ro

[2018-07-10 18:35] pasky commented on #148
You are right that the overlap with invoice2data is not so big. But having that API wrapper would make a lot of sense, I think.

I understand why you are wary whether the API is going to stay - this is always an issue with SaaS services, and I'm indeed not ready to promise that it is 100% certain to stay in this form and free in the developer tier for the next 10 years. However, I'd say that it is

[2018-07-11 03:05] m3nu commented on #148
Let's see. We'll wrap up the XML embedding first. Then look into adding your AI API. Thanks again for bringing it up.

[2018-07-19 09:57] natashakhatib23 opened #149 "ERROR:invoice2data.main:No template for invoice2.pdf"
I have installed invoice2data and pdftotext but i'm facing this error whenever i write "invoice2data invoice2.pdf" why?

[2018-07-19 16:07] duskybomb commented on #149
This because none of the existing templates match your pdf. You need to create your own template to make it work. You should go through [Tutorial for template creation](https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst)

[2018-07-20 02:46] sulaymankhan opened #150 "Is it possible to extract data from an image (PNG of JPG)?"
Is it possible to extract data from an image (PNG of JPG)?

[2018-07-20 03:45] m3nu commented on #150
Yes. Using either Tesseract or the online OCR cloud service. Both are implemented directly.

Just set your templates up for extra stability, as the OCR output may change slightly between runs.

[2018-07-20 09:53] natashakhatib23 commented on #149
which means that invoice2data module isn't a general solution for data  extraction of the invoice.
Suppose i have an invoice from an organisation that i didn't create its template yet, it won't get me the data out of it .. right ?

[2018-07-22 07:18] sulaymankhan commented on #150
@m3nu Thank you. I tried Tesseract but the results were not very good. I will try DocParser and see how it goes.

[2018-07-22 07:18] #150 closed

[2018-07-23 11:44] rmnppt opened #151 "Use with plain text input"
Hi Guys,

Not sure this is the right place for this...

I would like to try out your library - looks great! Only issue is that I have a plain text (sometimes html) dataset. Is there an input workflow for data other than .pdf?

Thanks in advance for your advice!

[2018-07-23 14:21] m3nu commented on #151
Plain text and HTML should clearly work. It would just need a simple input module to open and parse the file. For HTML it could remove the tags and keep just the text.

[2018-07-29 22:44] natashakhatib23 commented on #149
do you think machine learning algorithms would help in extracting data from an invoice with no template ?

[2018-07-30 00:10] m3nu commented on #149
Yes. Being done by the guys who got in touch in #148. I didn't test it, so I'm not sure about the accuracy. Since accounting processes generally demand 100% accuracy strict templates that fail when there is any uncertainty are possibly preferable for now.

In the medium term we strive to embed the invoice data directly and skip all the recognition. See [this other project](https://github.com/invoi

[2018-08-01 13:23] SornaSundaram opened #152 "Sample code to use as library"
when i tried to extract data from the invoice from test folder by importing invoice2data as library using pdfminer i get this following error ? please help me with this issue .

WARNING:root:regexp for field amount didn't match
WARNING:root:regexp for field invoice_number didn't match
WARNING:root:regexp for field payment_method didn't match
ERROR:root:Unable to match some fields:

[2018-08-01 14:20] duskybomb commented on #152
It means that the text is not matching the defined field's regular expression. Just go through [Template Tutorial](https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst) to know how to write a template.

[2018-08-01 19:25] SornaSundaram commented on #152
Sir i had tested the scenario for the sample pdf file already provided ("oyo invoice") in the package. All the files in the compare folder u had ran for it but i dont know where i am doing wrong . Thanks for your response sir

[2018-08-02 05:35] SornaSundaram opened #153 "How the code finds the right matching template or Will it compare with every existing template ?"
Suppose if i am trying to extract data from the invoices ? will it check with every existing template for a match or how it will find the right template ?

[2018-08-02 13:14] Mad-u1 opened #154 "Addition of New Template"
I have added two new template, but not able to incorporate the changes with the existing one.
Could you please guide on this. I have checked the below link also,
https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst

but no luck. Could please add some steps here, so I can communicate from my python project.

Thanks

[2018-08-03 00:39] m3nu commented on #154
When using the library in Python, you need to load the plugin folder. By default it will load the built-in plugins only. The relevant function is `read_templates`, which is passed to the extraction function later. See [here](https://github.com/invoice-x/invoice2data/blob/d9af83d75c02bed90038c21eb5c8aa2f2e0a1288/invoice2data/main.py#L83) for an example.

If the steps to set up the Python code aren'

[2018-08-04 07:08] duskybomb opened #155 "No warning with lines"
If regex defined for a line is not matched, no warning is shown unlike with other regular fields.

[2018-08-04 18:08] chriswakare commented on #154
@Mad-u1
Let me know if the following code snippet helps?
"my_template_folder_name" is the custom template folder
`from invoice2data import extract_data
from invoice2data.extract.loader import read_templates

read_template = read_templates(folder="my_template_folder_name")
result = extract_data('inv001.pdf', read_template)
print(result)`

[2018-08-04 22:11] Mad-u1 commented on #154
yes thanks for the code, but when have called the custom yml file,getting the below error,
 'Missing required key in template {} {}. Found {}'.format(name, path, tpl['fields'].keys())

attaching pdf and yml files here. please guide on this.

[test_1.zip](https://github.com/invoice-x/invoice2data/files/2259862/test_1.zip)

thanks for your quick response.

[2018-08-05 05:13] chriswakare commented on #154
At a glance, following fields are a must in the yml file to read invoice details from your :

amount
date
invoice_number

You can see a list of templates at extract/templates/com/
Pick up one that is nearest to your template and modify

[2018-08-05 05:57] Mad-u1 commented on #154
thanks for your guidance.
yes, this pdf only has the PO number.
if I enter any dummy data from the pdf in amount,date and invoice number to satisfy condition, then can I extract the PO number there?

[2018-08-05 09:31] chriswakare commented on #154
As I recall, date has to be a valid date as the base code checks for a valid date
I never tried out amount as a non-decimal datatype - but looking at the output of my sample code - the JSON output for amount is a number

[2018-08-05 11:27] Mad-u1 commented on #154
thanks again, I'm able to extract all other pdfs but no luck for the shared pdf.
input_module.to_text(invoicefile).decode('utf-8') returns blank!!
** I'm able to add new attribute there to hold a new string data also.

[2018-08-05 18:29] Mad-u1 commented on #154
yes it is not working for embedded images. Have tried with tesseract also, but it seems tesseracts works with *.jpg files. not with pdf files.

[2018-08-05 19:43] duskybomb commented on #152
The reason for this is all most of the templates are made for use with `pdftotext`. The "OYO invoice" is also based on `pdftotext` output.

[2018-08-05 23:51] m3nu commented on #154
We recently added a setting to specify required fields. If you only want the PO number that should be possible. Maybe there is still a bug left when logging the found field. Will reconfirm that.

For images you need to use one of the OCR modules. There is tesseract and also a Google Cloud OCR module (needs their API key). The default `pdftotext` input module will not work.

[2018-08-06 06:43] Mad-u1 commented on #154
yes I have already changed the input module to tesseract/pdf miner, but still it is not working for the shared pdf.
we can't use google or any 3rd party API due to policies.

[2018-08-06 07:31] m3nu commented on #154
I see. That might be a limitation of the current workflow. Tesseract needs an image as input and we do some enhancements to the image before passing it on. To make it work with an image embedded in a PDF, the image needs to be extracted or PDF converted first. The latter may be most useful.

Leaves this todo list:

- [ ] Make sure logging doesn't need any required fields.
- [ ] If PDF is passed to

[2018-08-06 10:25] Mad-u1 commented on #154
thanks for the support. will update on this very shortly. will create filter before calling the Tesseract.
One more issue, if the pdf(without embedding)'s content is vertically rotated, need to know it is already rotated in coding section. Otherwise it is returning unwanted results. Need to handle that scenario also. Anything is there to realize it is already rotated, any flag or anything, then we

[2018-08-07 07:04] Mad-u1 commented on #154
have created on filter to extract images from pdf(using pdftoimage). But can any one tell me, how to realize that the image in pdf is rotated or not..

thanks

[2018-08-08 19:40] chriswakare commented on #153
from https://github.com/invoice-x/invoice2data#template-system

[2018-08-09 00:26] m3nu commented on #153
Right. The first template containing ALL keywords specified in the template is used. Using the tax number + company name as keyword is usually good.

[2018-08-09 03:35] chriswakare commented on #154
Found the following link on https://github.com/tesseract-ocr/tesseract/wiki/ImproveQuality
Have not tried it though.

"Detecting rotation and line spacing of image of page of text using Radon transform "
https://gist.github.com/endolith/334196bac1cac45a4893#

https://gist.github.com/endolith/334196bac1cac45a4893#

[2018-08-09 04:25] m3nu commented on #154
@chriswakare improving OCR input is not fully solved. Feel free to experiment and make a PR to improve the command used in `tesseract.py`. This uses imagemagick for now. This would also be the place to convert PDFs to images.

[2018-08-09 04:37] m3nu commented on #154
PS: Directly inputting a PDF works now. Small change to the convert-command.

[2018-08-09 04:42] m3nu commented on #152
Post your full code. I'm certain this is about paths and imports.

[2018-08-09 04:44] m3nu commented on #151
For HTML you will be better off using something like CSS or Xpath to match your data. Since you have the HTML structure to use. This project is for unstructured input.

Of course HTML could be unstructured. E.g. a plain text file or a very badly formatted HTML. In that case we could add a plain text input module that just passes the input on. But I don't see much demand for this.

[2018-08-09 04:45] #149 closed

[2018-08-09 04:46] m3nu commented on #148
Closing. If this is done, it will be as a new project.

[2018-08-09 04:46] #148 closed

[2018-08-09 04:48] m3nu commented on #147
No. Can't reproduce.

[2018-08-09 04:48] #147 closed

[2018-08-09 04:50] #141 closed

[2018-08-09 18:39] Mad-u1 commented on #154
thanks u so much for the support, had used one filter there.. to extract the image. thanks mate.

@chriswakare
Am checking mentioned link https://gist.github.com/endolith/334196bac1cac45a4893#.

thanks

[2018-08-10 05:46] SornaSundaram commented on #153
Thanks for helping me .

[2018-08-10 12:36] SornaSundaram opened #156 "Windows support for tesseract and pdftotext"
Can I use Pytesseract instead of tessearct for extracting invoice data ? since tesseract not compatible in windows and I am also unable to install pdftotext in windows.

[2018-08-11 03:08] m3nu commented on #156
The pytesseract package is [wrapping](https://github.com/madmaze/pytesseract/blob/1b0018f9ccd9ff2c227a21693f1d6155e139dbe2/src/pytesseract.py#L28) the `tesseract` binary, same as we do.

But if you like you can fork the repo and do whatever you want and add a new input module.

[2018-08-16 02:20] m3nu opened #157 "Unicode chars are not correctly saved to output text files"
Tried the Quality hosting test invoice which has some German ü, ö, etc. Istead I get escaped unicode (`\u00fch`). I'm sure French with accents has the same issue.:

[code]

Reproduce:
- `invoice2data --output-format json QualityHosting.pdf`
- `open invoices-output.json`

[2018-08-16 11:08] SornaSundaram opened #158 "pip python pdftotext installation for windows ?"
please help me in fixing this issue Cannot open include file: 'poppler/cpp/poppler-document.h': No such file or directory while installing pdftotext . I only have this option because pdfminer extracts text but does not match properly even for the tested templates

[2018-08-17 08:17] m3nu commented on #157
Fixed by @duskybomb via #159 .

[2018-08-17 08:17] #157 closed

[2018-08-17 08:18] m3nu commented on #158
I suggest asking about the `pdftotext` project in their respective support forum, rather than here.

[2018-08-17 08:18] #158 closed

[2018-08-17 08:18] #156 closed

[2018-08-17 08:18] #153 closed

[2018-08-17 08:19] #152 closed

[2018-08-24 15:37] duskybomb opened #160 "Migrate Continuous Integration"
According to [CircleCI](circleci.com), "Projects currently running on CircleCI 1.0 will no longer be supported after August 31, 2018. Please migrate to CircleCI 2.0."
Hence need to migrate.

[2018-08-27 01:11] m3nu commented on #160
Yeah. Also got the email. Not too urgent, but we can't make updates any more. You wanna keep CircleCI or do you recommend another service with less vendor lock-in?

[2018-08-29 02:56] duskybomb commented on #160
TravisCI looks like a popular choice. But really don't know how different it is from CircleCI. Will uodate you soon on it.

[2018-08-31 14:42] Gsuz opened #161 "Option to move files on success instead of Copy"
When going to a bulk of invoices it should be easier to differentiate between the invoices that were successfully scanned vs. not.

[2018-08-31 16:48] Gsuz opened #162 "processing files in bulk"
I have a folder with 700+ pdf's.

If try something like

`invoice2data *.pdf`

I'll get an error like:
`[Errno 24] Too many open files:`

If I make a bash for script to feed each file manually with a for loop the csv file get's overwritten each time.

How are you guys processing files in bulk?

[2018-08-31 17:03] Gsuz commented on #162
fixed the above with ulimit. Sry.

[2018-08-31 17:03] #162 closed

[2018-09-01 03:09] m3nu commented on #161
Cool Will check it out. There was some demand for this.

[2018-09-02 11:26] Gsuz opened #164 "Add "Must not have" keywords"
I'm having trouble creating templates to distinguish between a normal invoice and a credit invoice.

I suggest adding an option for banned keywords so that it would try the next template. It could also help in other niche use cases.

[2018-09-08 01:34] m3nu commented on #161
Merged PR by @Gsuz

[2018-09-08 01:34] #161 closed

[2018-09-08 12:45] irahulcse commented on #164
Want to work on this project. How can  I start working as I am new to Open Source.

[2018-09-08 13:34] m3nu commented on #164
Start by forking this repo to your own Github account and then clone it to your local machine. The do a dev-install via `pip install -e .` as described in the [DEVELOP](https://github.com/invoice-x/invoice2data/blob/master/DEVELOP.rst) document.

Next implement the feature and open a pull request (PR) that has your changes. If the code is OK one of the contributors (or me) will merge it.

[2018-09-08 17:14] irahulcse commented on #164
Tnx sir

[2018-09-15 17:53] Gsuz commented on #164
I have a crude implementation of this in : #165

[2018-09-27 10:27] maneeshjain1982 opened #168 "ReaderError: unacceptable character #x0082: special characters are not allowed"
mj@DeskTop-System:~/pdf_to_text/invoice2data$ invoice2data --input-read pdftotext oyo.pdf
I was trying to convert the "oyo.pdf" file using following command and getting the following error.
Looking the support.

 invoice2data oyo.pdf

Traceback (most recent call last):
  File "/usr/local/bin/invoice2data", line 9, in <module>
    load_entry_point('invoice2data==0.2.101', 'console_scripts', 'invoic

[2018-09-27 14:32] m3nu commented on #168
Unicode issue with French accents. Best to use Python 3. Python 2 is nearing EOL.

[2018-09-28 05:45] m3nu commented on #168
Great. If you share your file I can also test it here. Generally the sample files are tested before every update and I suspect this is unique to your setup. Closing this issue for now. Feel free to reopen it if new info emerges.

[2018-09-28 05:45] #168 closed

[2018-10-02 20:21] netson opened #169 "Pass clean image to Tesseract to avoid conversion warnings"
Hi, first of all, thanks for a great module! :-) By spending a couple of hours creating templates for my documents, I will be saving hours each month! :+1:

However, some of my documents are scanned, so I am using tesseract to extract the text from it. This works fine and as expected, but it does generate some errors on stderr:

[code]

I'm running the invoice2data module from a custom python scri

[2018-10-03 09:29] m3nu commented on #169
Those messages come from Tesseract. If there is a switch to turn them off, we can add them to `invoice2data`.

[2018-10-25 03:51] eccentric commented on #122
I didn't find this very well documented, but you can use read_templates which makes this not as bad:

[code]

templates becomes your list of InvoiceTemplate objects.

[2018-10-30 13:08] wollanup commented on #164
This is a "must have" feature :smile:

[2018-11-21 06:17] Sunshinelz opened #174 "Hello, how do you set up the environment and then run? Thank you"

[2018-11-21 06:44] m3nu commented on #174
Please see https://github.com/invoice-x/invoice2data#installation

[2018-11-21 06:44] #174 closed

[2018-11-28 06:00] #160 closed

[2018-12-01 16:55] shordeaux opened #178 "Please add sum_ support to table plugin"

[2018-12-01 18:58] shordeaux commented on #178
a proposal is in #179 (it is my first python code, so feel free to tell me if I do something wrong)

[2018-12-02 13:49] m3nu commented on #178
Commented on your PR.

[2018-12-02 13:50] m3nu commented on #169
Does this issue persist when using the tensorflow4 output plugin?

[2018-12-03 11:51] suryacaprice opened #180 "Gcloud is not working"
Waiting for the operation to finish.
Traceback (most recent call last):
  File "/home/caprice/anaconda3/bin/invoice2data", line 11, in <module>
    sys.exit(main())
  File "/home/caprice/anaconda3/lib/python3.6/site-packages/invoice2data/main.py", line 166, in main
    res = extract_data(f.name, templates=templates, input_module=input_module)
  File "/home/caprice/anaconda3/lib/python3.6/site-pack

[2018-12-03 12:02] m3nu commented on #180
Google Vision needs a lot of setup. You need:

- API key
- bucket for results

There are no instructions for this as of now, but it should be clear from the source code. Did you do all the setup tasks correctly before encountering this error?

[2018-12-03 12:07] suryacaprice commented on #180
Hi , I have done all the configuration , Created bucket and the api is mapped to the project with the full access .

[2018-12-03 12:09] suryacaprice commented on #180
I dont think gcloud config is the problem here
json_string = result_blob.download_as_string()
AttributeError: 'NoneType' object has no attribute 'download_as_string'

this line shows the error

[2018-12-03 12:15] suryacaprice opened #181 "Language as a input parameter"
I can see the default language is french. But can you please provide option to enter language as input so that english or other languages can be switched easily .

[2018-12-03 12:15] m3nu commented on #180
Then I'd check if you have a result in your bucket because this line just reads the result.

If your configuration is wrong there won't be a result in the bucket and this specific line will fail.

[2018-12-03 12:16] m3nu commented on #181
Where is French the default language?

[2018-12-03 12:17] suryacaprice commented on #180
Let me check the configuration again .

[2018-12-03 12:30] m3nu commented on #181
I see. Yeah. I did this for a French client.

If you want an option, just open a pull request and I'll review it.

[2018-12-03 12:31] suryacaprice commented on #181
Sure will do

[2018-12-04 10:11] saisivasriram commented on #46
Can you explain it clear on what you did, As I am also facing the same error in UBUNTU

[2018-12-16 10:21] msalaj opened #183 "Please allow doing some math with fields"
Hi,

I have invoices where some data is missing, like I have price with VAT and do not have price without VAT.

Is there possibility to add some math with fields? Like amount_without_vat: amount / (vat / 100 + 1)

thank you

Michal

[2018-12-16 11:47] m3nu commented on #183
I'd rather do this stuff in a separate library AFTER extracting the data? Better to do one thing well.

[2018-12-20 14:30] rseabrook opened #186 "Support for multiple line groups in a template"
It would be useful to be able to parse multiple sections with the `lines` plugin. An example where this would be useful is a credit card processing statement. An example statement can be found [here](https://content.heropay.com/wp-content/uploads/2016/11/Merchant-Services.jpg). It would be ideal to parse the "Plan Summary", "Deposits", and "Fees" sections into their own keys in the output.

[2018-12-31 05:27] Gsuz opened #188 "REST api?"
Has anyone done any work toward building a REST api around this script? It shouldn't be much effort. Wanted to check before starting on my own.

[2018-12-31 08:18] m3nu commented on #188
Not that I know of. If you mean a full hosted service, there are a few similar commercial ones. Matching them would be a major effort though. You'd probably need a new way to match fields, as mosts users won't use Regex.

[2018-12-31 08:24] #183 closed, assigned to nobody

[2019-01-02 13:09] m3nu commented on #188
Whats your use-case for this? Using the Python lib with something else?

I can see some use in a web service for making the lib easier to use and involving more people to make templates. But I also worry that without a different system to make templates/teach it what to extract it will still be too hard to use.

[2019-01-03 12:08] Gsuz commented on #188
Yes. Basically to handle query's from a web app which has a bunch of invoices to autofill some forms.

[2019-01-03 13:43] m3nu commented on #188
I see. So it would be a microservice.

If you have some code, we could host it under the invoice-x organization, and link it in some places, so others can improve and use it. Would just need to have some kind of permissive license and a README, so new contributors can find their way around. I can later set up testing and other admin stuff.

[2019-01-06 18:44] JeffreyGarand opened #189 "PDF's with Multiple pages/totals"
Running into an issue with PDF's with 'multiple pages'. The system is picking up multiple invoice numbers but not multiple totals.
 Please advise.

[2019-01-08 11:24] alexis-via opened #190 "Improve exception handling"
I'm using invoice2data as a python lib in the Odoo module account_invoice_import_invoice2data, cf https://github.com/OCA/edi/blob/10.0/account_invoice_import_invoice2data/wizard/account_invoice_import.py#L54

When the extraction fails because

1) some fields didn't match
2) or because no template was found

then the extract_data method of the lib just returns nothing and the reason of the failure

[2019-01-08 14:35] alexis-via commented on #190
I don't have a lot of experience with python exceptions, so I may not be the best person to advise on how we should design the exceptions for invoice2data. @hbrunn could you give us some advice on this ? As you have a great Python+Odoo experience and you already contributed to this project, your input would be very appreciated.

[2019-01-08 14:46] hbrunn commented on #190
I'd start by declaring some base class deriving from ValueError (or some other standard exception), and simply add a constructor that allows you to pass whatever data you need to pass. Exceptions are just class instances, so you can add whatever you like. cf https://docs.python.org/2/library/exceptions.html#exceptions.UnicodeError for an example in the standard lib

[2019-01-08 14:48] hbrunn commented on #190
PS: Don't forget to override `__str__` to print something sensible using those values

[2019-01-10 18:34] tanmaysri opened #191 "No template for invoice"
I have installed invoice2data and created a template for a particular invoice. But still it says no template for the invoice.

I have attached the template and the pdf I am trying to convert.

[Invoice_Exp_Dec001_Veneklasen.pdf](https://github.com/invoice-x/invoice2data/files/2746612/Invoice_Exp_Dec001_Veneklasen.pdf)

Template code
[code]

Can anyone please help me on this?

[2019-01-10 18:35] tanmaysri commented on #191
![image](https://user-images.githubusercontent.com/14184708/50989139-8f68bf00-1534-11e9-86e9-b4db8013dc53.png)

template file

[2019-01-12 10:09] mageswarandhandapani opened #192 "Found user path: home/duskybomb/invoice-templates/"
User specific path is found @ https://github.com/invoice-x/invoice2data/blob/master/invoice2data/extract/loader.py#L58

[2019-01-12 11:50] m3nu commented on #192
That's just an example. So not critical. Seems like our Google Summer of Code student left it there.

I'll remove it when doing a larger change.

Thanks for reporting.

[2019-01-12 12:33] davdigioia opened #193 "Error parsing YAML template"
I got the following error just running the example

'unicode', "special characters are not allowed")
yaml.reader.ReaderError: unacceptable character #x0082: special characters are not allowed
  in "<unicode string>", position 46

[2019-01-12 13:33] m3nu commented on #193
You probably have a special non-printing char in your template that YAML refuses to read.

[2019-01-12 13:39] davdigioia commented on #193
I just tried to run the example: FlipkartInvoice.pdf :(

[2019-01-12 13:41] m3nu commented on #193
That's odd. What's your setup? OS? Python version?

[2019-01-12 13:43] davdigioia commented on #193
Anaconda on Ubuntu. Python 3.6

[2019-01-17 15:52] Trolier opened #194 "Issues to install invoice2data"
Hello all,

I am very new in python and I would like some help to install and use invoice2data on ubuntu.
Actually I did everything that is described in the installation part. But I still have a question how can I execute the program with a command line.

Thank you very much for your help.

[2019-01-21 11:54] sonalimore35 opened #195 "Unable to parse invoice lines"
I am using your library to extract the invoice information in json format. I got other information from invoice like invoice_number,date etc, but **I am unable extract invoice  lines.**
I tried many solutions which are found on google but no luck. **I also tried debug option** while running command through terminal.

I am also facing one more issue while parsing amount, actually it's a warning but

[2019-01-23 08:11] sonalimore35 commented on #195
@m3nu can you help me please?

[2019-01-23 08:57] m3nu commented on #195
Sorry, but Github issues are just for bugs, not for support. If you need help with a programming job, you can look into hiring some external help. We should add a list of companies that can help you implement `invoice2data`. For now, you can send an enquiry to my company at [peakford.com](https://www.peakford.com/).

[2019-01-23 08:57] #195 closed

[2019-01-23 09:02] m3nu opened #196 "List of commercial service providers"
Too many people are asking for support to implement this. I suggest to add a list of commercial service providers, who can help them on a consulting basis. Whoever is interested, can leave his details here. You should already be a contributor and willing to accept new clients.

Calling some past contributors: @alexis-via @hbrunn @rseabrook @brakhane

[2019-01-23 09:04] hbrunn commented on #196
not us, we're user/contributors

[2019-01-23 09:04] m3nu commented on #190
Anyone working on this? If yes, please assign yourself to this issue, so it's "reserved".

[2019-01-23 09:06] m3nu commented on #196
Noted. Maybe we can find 2-3 firms, who are willing to offer some commercial support. Would be easier to just refer people to them.

[2019-01-25 14:52] rseabrook commented on #191
What command are you using to call invoice2data for this invoice? You need to tell invoice2data where to find your custom template via command line args.

For example, if your custom template is in `~/Templates`, you would need to call invoice2data like this:
[code]

[2019-01-25 15:02] rseabrook commented on #91
`remove_whitespace` is most helpful when your invoice data has a very specific format such as quantity or price or strings of defined length such as order numbers. It becomes difficult when you have free text fields (addresses, names, descriptions) that do not have a defined length or format. It makes more sense to not use `remove_whitespace` in those circumstances.

If you want to match multiple

[2019-01-25 15:10] rseabrook commented on #26
@m3nu I know this issue is very old at this point, but I think it is useful and will take it on.

[2019-01-25 19:32] rseabrook opened #198 "Separate type conversion from field extraction"
When creating the `tables` plugin, I found that type conversion was tightly linked to field extraction in the core lib. There was no easy way to re-use the type conversion logic, so I mostly duplicated the type conversion logic inside the plugin. The `lines` plugin does much the same thing with yet another implementation of type conversion.

Would you be in favor of refactoring to separate type co

[2019-01-25 20:02] JeffreyGarand commented on #189
Thanks @rseabrook  I'll give that a try.

[2019-01-26 00:50] m3nu commented on #198
As we add more functionality, separating it into different modules and functions is surely a good idea. Currently we have those three stages (1 stage = 1 package [here](https://github.com/invoice-x/invoice2data/tree/master/invoice2data)): input, extraction, output.

Your stage ("conversion"?) would go after "extraction"? Would it process one field at a time or everything at once after extraction?

[2019-01-26 00:52] m3nu commented on #196
Great @brakhane . I'd add website, company name, tag line. Similar to another project [here](https://www.borgbackup.org/support/commercial.html).

[2019-01-26 03:24] m3nu opened #199 "Clean up docs and README"
With more CLI options, we should clean up the docs a bit.

- [ ] fewer docs in README
- [ ] show all available CLI options or refer to `--help`
- [ ] ...

[2019-01-26 13:07] brakhane commented on #196
@m3nu Should I make a PR with the information? Where should I put it? Into the README?

[2019-01-26 15:17] rseabrook commented on #198
I was thinking that the extraction stage would create a full result before passing it to conversion. There are two different type conversion methods/conventions right now.

1. Naming convention like `date_` or `amount_`.
1. Explicit type definition in the templates as introduced in the `lines` plugin.

The conversion stage would walk through the result and operate on each field as dictated by the

[2019-01-27 00:06] m3nu commented on #196
Just post it in this issue. I will make a new mardown document when we’re done.

[2019-01-27 22:53] maisen20 opened #201 "performance with templates"
Hello together and thank you for this great repository!

I‘ve a question about the performance with the yml-templates.
Does someone know how fast the script works with hundreds and thousands of template files? Will be the execute time very long or what should i expect?

best regards
maisen

[2019-01-27 23:17] maisen20 opened #202 "input with tesseract and multiple pages"
Maybe there’s an issue with PDF files with more than one page.

If the PDF file contains multiple pages, i always get only the result of one page. So i changed the tesseract input, added „pyPDF“ (to get the number of pages) and did for every single page a convert & tesseract command to get the text.

And for more accurate, i added a optional parameter for tesseract to set the path to a custom word

[2019-01-28 00:49] m3nu commented on #201
Currently templates are single files and they are all read on init. For a large-scale use case there should be optimizations to this. E.g. caching them in binary format or having a preliminary step to choose the required template first.

[2019-01-28 00:53] m3nu commented on #202
We assume that 1 PDF file = 1 invoice. Any separation would need to be done before running `invoice2data`.

Apart from that, a PDF can have multiple pages and the extraction will run on the combined text result. E.g. this [sample file](https://github.com/invoice-x/invoice2data/blob/master/invoice2data/test/compare/QualityHosting.pdf) has multiple pages.

Good idea to improve Tesseract. One could p

[2019-01-28 15:03] brakhane commented on #196
inoio gmbh
https://inoio.de
contact@inoio.de (German and English)

[2019-01-29 20:11] auriou opened #204 "how to use tesseract with your library"
Hello

how to use tesseract with your library.

I installed tesseract with   pip install tesseract but not work

[code]

Thx

[2019-01-30 04:06] m3nu commented on #204
Tesseract is not a Python package. You only installed a wrapper library. See [here](https://github.com/tesseract-ocr/tesseract#installing-tesseract) to install the underlying binary.

[2019-01-30 04:06] #204 closed

[2019-02-05 14:03] gtambi143 opened #205 "Can we define the layout to be used by pdftotext while converting the pdf to text file?"

[2019-02-11 08:52] arthur-b-renaud opened #206 "Broken link in readme"
In the first line :
"This project has been selected for GSoC 2018. Read more here (https://wiki.debian.org/SummerOfCode2018/Projects/ExtractingDataFromPDFInvoicesAndBillsDetails)"

The link in parenthesis seems broken.

[2019-02-12 01:47] m3nu commented on #206
Works fine here. Maybe a temporary issue, as Debian was updating their Wiki.

But it should be removed anyways, because it's from last year.

[2019-02-15 05:32] mmaaxxtbg opened #207 "Table that has no end"
Hi All,

first up, sorry if this should not be posted - but trying to learn this as best as I can

I am trying to match the following invoice which end like this
`SUPPLIED PARTS, OR DAMAGED GOODS OVER 7 DAYS AFTER RECEIPT ARE NOT RECOGNISED.            GST                Total
RETURNS NEED APPROVAL & ARE SUBJECT TO A 10% HANDLING CHARGE.
NO CLAIMS RECOGNISED 30 DAYS AFTER DATE OF DELIVERY .

[2019-02-21 10:32] wollanup opened #209 "Date format in JSON output is hard coded to %d/%m/%Y"
https://github.com/invoice-x/invoice2data/blob/48006efe961584660414c432afbad1ef05a65b3c/src/invoice2data/output/to_json.py#L42

Date format is hard coded to french (maybe more) format `day/month/year`.

Could we add an options like `date_formats_output` or something to have a way to produce more standard format like `%Y-%m-%d` ?

I also noticed that only `date` field is handled, but we ignore fiel

[2019-02-21 10:42] m3nu commented on #209
Totally agree. Just do a PR to change it.

[2019-02-21 11:01] wollanup commented on #209
@m3nu OK, I'm not familiar with Python yet but I'm on it ;)

Please just tell me if this approach looks fine to you :

[code]
As we have `path` arg, I would add a new arg `date_output_format` in each `write_to_file` functions and pass it in call of `output_module.write_to_file()` from main.py

[2019-02-21 11:38] m3nu commented on #209
Yeah. Could be good to add it as optional keyword argument. You want to keep the old default or make it an ISO format?

One small style note: When a string is for formatting, [one](https://stackoverflow.com/a/56190/3983708) would usually use double quotes. `"%d-.."`

[2019-02-21 11:55] wollanup commented on #209
OK for double quoting !
Maybe we should keep previous format as default and override on demand to avoid BC ?

[2019-02-21 11:58] m3nu commented on #209
Yes. Let's keep the old format.

[2019-02-21 15:31] wollanup commented on #209
I'm almost good with code and test, but I introduced a change...
You could call it a Breaking Change or a Bug Fix, you decide ;)

If we consider output JSON of `free_fiber.pdf` file, we had :

[code]
Now, we have this output (without `--output-date-format` option) :
[code]

And (with `--output-date-format %Y-%m-%d`)
[code]
It sounds better to me because we have only one format for dates.
PR coming

[2019-02-21 15:38] m3nu commented on #209
Last option looks best, I think. I'll write a note about it in the release log. Better to fix this now then wait even longer.

I assume most people use it as library anyways, so they get a direct `datetime` object.

[2019-02-23 20:28] dnyg commented on #193
I'm having the same issue.

The command `invoice2data invoice1.pdf` gives me the output

[code]

Operating system is Debian 9 - python version 2.7.16

[2019-02-24 02:57] m3nu commented on #193
Looks like someone used a non-printable char in a template, something that's not supported by YAML.

Probably related to [this SO question](https://stackoverflow.com/questions/45871058/confronting-unacceptable-character-x0095-special-characters-are-not-allowed-i). Does this happen on Python3?

If yes, we should either strip those non-printable unicode chars before parsing or remove them from the t

[2019-02-24 07:13] dnyg commented on #193
Very weird issue.

I reinstalled python (`sudo apt remove python` followed by `sudo apt install python`) and it suddenly works again (although my version is the same as before).

[2019-02-24 10:38] m3nu commented on #193
Glad to hear. Closing this then.

There is a folder in a Python installation that has some encoding-related files. I once had a similar issue due to permission issues related to those files. Maybe that was your issue too.

[2019-02-24 10:38] #193 closed

[2019-02-27 08:01] Abhi001vj opened #214 "Can we use the template files to create pdf invoices to train a ML model?"
I wonder if we can use this templates to create invoice pdfs which can be used to train template less invoice data extraction using ML like rossum.ai .

[2019-02-27 19:06] sheikmohdimran commented on #75
Link 4 arxiv document is implemented here -> https://github.com/naiveHobo/InvoiceNet

[2019-03-12 13:46] ashok-dpi opened #216 "Table plugin is reading only first row and ignoring rest of all rows"
I have a table with multiple rows, but table plugin reads only first row. Since there is a condition which says that if "Field" is already present its ignoring, hence after processing second and subsequent records, since field is already there, its ignoring. Attaching my result output and template for more clarity.

![image](https://user-images.githubusercontent.com/28087906/54204794-030a5680-44fb

[2019-03-13 06:29] ashok-dpi commented on #216
I understand that Table plugin can read only one row, we should use Lines Plugin for parsing multiple rows. Hence closing this issue.

[2019-03-13 06:29] #216 closed

[2019-03-16 13:22] rubdos opened #218 "Standard field names: documentation?"
Should there be a documentation file with all the fields, line fields and table fields that are used (including the optional ones)? This should be useful for compatibility.

[2019-03-16 15:05] m3nu commented on #218
Good idea. We already have a [template developer tutorial](https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst), which is related.

Maybe it's also time for a ReadTheDocs site with further info.

[2019-03-18 05:27] bazatalla commented on #193
Having the exact same issue. I can't successfully execute `sudo apt remove python` as it breaks dependencies... Any other workaround?

[2019-03-18 08:57] m3nu commented on #193
Removing Python is not a good idea. Would recommend to use a venv or user-install instead.

[2019-03-28 10:31] SumantHegde003 opened #219 "MultiLine order items for Custom template"
Hi All,

Can anybody help with me multiline order items in PDF.

Also attaching the PDF template for references.

[nature.PDF](https://github.com/invoice-x/invoice2data/files/3017424/nature.PDF)

Thanks.

[2019-03-31 13:44] mnandesss opened #220 "Tesseract fopenReadStream error"
Hi,
I try to use invoice2data on a mac machine, and after installing it all, I got this error

[code]

However, if I run `tesseract ~/Desktop/oyo.png  out` it works and creates the out.txt file with all the text recognized,

any help on how to make it work?

Thank you!

[2019-04-01 13:55] SumantHegde003 commented on #219
I tried with Start Line and end Line Syntax, But it is not giving me expected pattern?

Guys  @m3nu @hbrunn  please help me to resolve this pattern.

[2019-04-11 21:01] Gsuz commented on #220
This can be fixed by removing "shell=True" from line 29 of file tesseract.py

[2019-04-11 21:32] Gsuz commented on #220
while this fixes the issue on Mac it causes another issue on Linux

[2019-04-15 12:31] thenaturalist commented on #202
@maisen20 can you share your code/ create a pull request?

[2019-04-15 12:40] maisen20 commented on #202
@thenaturalist sorry i'm very busy, into other projects and soon on holiday.

but maybe i can help you, where do you need help?

[2019-04-15 20:21] thenaturalist commented on #220
@m3nu does it make any sense to have `shell=True` in the code? The docs read like it is unnecessary on Windows and the current implementation is incompatible to  POSIX machines. Plus it opens the potential for shell injection. Happy to open a PR.

From the [subprocess.Popen docs](https://docs.python.org/3.7/library/subprocess.html#subprocess.Popen):
On Windows, if args is a sequence, it will be co

[2019-04-15 20:32] thenaturalist commented on #202
@maisen20 I would like to reproduce what you are describing. I guess the most efficient way to share knowledge on this is via code? As we both speak German: What do you think about talking/ screen sharing on this for 10 - 15 minutes and then I could create a pull request?

[2019-04-16 02:00] m3nu commented on #220
If everything keeps working without `shell=True`, feel free to remove it.

[2019-04-21 14:24] #220 closed

[2019-04-24 09:35] gosemathraj opened #223 "ERROR:invoice2data.main:No template for FlipkartInvoice.pdf"
I am trying to extract data from sample invoices present in the project.E.g FlipkartInvoice.pdf provided as a sample along with its template "com.flipkart.WSRetail".It is giving the following error

Invalid Parameter - 350
Error during processing.
ERROR:invoice2data.main:No template for FlipkartInvoice.pdf

Running it as :
invoice2data --input-reader tesseract FlipkartInvoice.pdf

Both the templat

[2019-04-24 09:43] m3nu commented on #223
If you use a custom template, you should point `invoice2data` at it. I don't see that in your command. Same folder isn't enough.

We already have a Flipkart template. Maybe you want to use that instead and fix it, so it works on your PDF file?

[2019-04-24 10:00] gosemathraj commented on #223
Hi, I am not using any custom template or pdf but the ones already present in the project directory.The directory has FlipkartInvoice.pdf and "com.flipkart.WSRetail" template and it also has the json file containing the output data.I am trying to get the same response given in the json file.But don't know what is missing

pdf to be scanned : FlipkartInvoice.pdf (present in the project directory)
t

[2019-04-24 12:47] m3nu commented on #223
Then I'm guessing you have a different invoice format than what we support. Have a look at the [template tutorial](https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst) on how to adapt a template.

[2019-04-29 09:21] gosemathraj commented on #223
Hi, Now i am getting some different error.I guess its a parsing error.
invoice2data --input-reader tesseract --template-folder /home/webwerks/rajeshG/development/Android/Ocr/invoice2data/files/invoice2data-0.3.3/src/invoice2data/extract/templates FlipkartInvoice.pdf

Error :
Traceback (most recent call last):
  File "/home/webwerks/.local/bin/invoice2data", line 10, in <module>
    sys.exit(main()

[2019-04-29 09:25] m3nu commented on #223
I think there is a trick to put YAML into utf8-mode. Not sure we already have that.

[2019-04-29 09:27] gosemathraj commented on #223
what's the solution ??

[2019-04-29 09:31] m3nu commented on #223
Make sure your template only uses UTF-8. Try to open it directly with YAML to debug. Your char may be from another char set than UTF-8 (Latin1?)

I believe we already read template files in UTF-8. So there shouldn't be anything to change.

[2019-04-30 15:46] dee6600 commented on #25
Dealing with similar problem, **Entity extraction** form invoice.

[2019-05-01 17:05] eddb7 opened #224 "Support for multiple lines using lines plugin"
Hi all, I have been using this package over the past couple of days for some complex invoices for my company, I think this has been raised previously but adding the functionality to define multiple lines within the .yml would be really useful as I need to gather different information from different sections within the same invoice -- tables aren't necessarily well defined structurally on the examp

[2019-05-02 00:37] m3nu commented on #224
This already exists from what I know. And it's configured with each template in YML. Here 2 examples:

- https://github.com/invoice-x/invoice2data/blob/master/src/invoice2data/extract/templates/de/de.qualityhosting.yml
- https://github.com/invoice-x/invoice2data/blob/master/src/invoice2data/extract/templates/com/com.amazon.aws.yml

Note the `lines` section.

[2019-05-02 08:50] eddb7 commented on #224
Yeah I have successfully setup single applications of line scraping like your example - what I am trying to achieve though is defining multiple different line types for both different data and different line formats.

[2019-05-02 08:51] m3nu commented on #224
This we don't have. But maybe you can refactor the existing module to do what you need and we merge it back?

[2019-05-02 09:01] eddb7 commented on #224
Ok I will have a look into this. Thanks for speedy response

[2019-05-02 11:02] eddb7 commented on #224
I've added a base solution to this  branch

eddb7:feature/eb-multiple-lines

[2019-05-07 11:03] gosemathraj opened #226 "Extracting table from pdf"
i am trying to extract table data from pdf. I have created a template for the same but it is not giving appropriate column value
This is the table i am trying to extract :
[https://i.imgur.com/6hv728l.png](url)

Template for extracting table data :
issuer: XXXXXX
fields:
  amount: Grand Total\s+(\d+\,\d+\.\d+)
  invoice_number: INVOICE No:\s+(\S+)
  date: Date of Invoice:\s+(\S+)
  vendor: Vendor:

[2019-05-10 09:51] Ritesh260397 opened #227 "can't read same format pdf invoices"
Only your default flipkart invoice(pdf) is fetched  by your flipkart yml template. But when I try to test  your yml template with different flipkart invoice(pdf) having same format, almost same billing ,it only fetches 2-3 details not fetching the main 'order_id'.It only shows this error even though the 'order_id' code is commented.

[2019-05-15 14:06] jonatjano commented on #202
Currently having this issue where only the first page is read, is the PR you're talking of on the way ?

[2019-05-16 04:38] amitava82 commented on #189
I'm seeing this as well. I have multiple invoices in single pdf. I'd expect it to create array of results per page. It returns invoice_number as array. Everything else looks like picked from first page.

[2019-05-16 05:32] m3nu commented on #189
Multiple invoices in one document will surely not work.

[2019-05-17 09:39] jonatjano opened #228 "question about contribution"
Hi,
just found a way to get better results using tesseract but I'm not sure about something in the contribution guide.

the contribution guide say to
[code]
but I could edit the project doing `pip install invoice2data` (I modified the files in python/dist-packages) is there a difference for pip ?

TL;DR : sorry I never used pip before and I'm not sure I understand the `-e` utility

[2019-05-20 15:17] jschnurr opened #229 "ValueError when parsing number including currency symbol ($)"
I have a source document where positive numbers are expressed as `$1,200.00`, and negative numbers like this: `-$1,716.96`.

For positive numbers, the field regex can ignore the $ sign, and the resulting value parses correctly.  However, to pick up the minus sign, I need to capture the $ too, which causes the parser to fail.

I've used a `replace` configuration to substitute `$` for `` in the inte

[2019-05-20 15:56] m3nu commented on #229
You could do a custom field that only picks up the minus-sign and merge it with the amount later.

[2019-05-30 12:38] ananthnagan opened #231 "Using Google vision"
Hi,
Bucket name is hardwired and our bucket name is different is there any way to change the bucket name?

[2019-05-31 14:32] #231 closed

[2019-05-31 14:33] ananthnagan commented on #231
can you please give us elaborated setup to use gvision

[2019-05-31 14:34] ananthnagan commented on #231
is there any documentation for this?

[2019-05-31 14:49] ananthnagan commented on #231
![image](https://user-images.githubusercontent.com/24543298/58713876-2a2d4180-83e1-11e9-828c-605fe17d997c.png)
And i have added the above code so that it can be taken from environment variable so that it is easy to configure for further

[2019-05-31 14:50] ananthnagan commented on #231
still i am getting error that bucket access denied but i have added the credential details and created bucket and given full access to that account

[2019-05-31 14:51] ananthnagan commented on #231
Please guide us

[2019-06-11 02:09] AshNTU commented on #189
Hi, I am also facing the same problem. Is there a way for the invoice2data to identify that the file contains multiple invoices, so that it can be handled accordingly?

[2019-06-11 14:38] rseabrook commented on #189
@AshNTU this is not the way invoice2data is designed to work. Each file needs to represent one invoice.

The package allows multiple regexes for a particular field and collects the results of every regex into a list for that field. It then attempts to pick the best result by discarding any empty strings and duplicates. If that leaves only one result, then invoice2data returns that result as a stri

[2019-06-11 15:03] rseabrook commented on #228
You can read about editable installs in the [pip docs](https://pip.pypa.io/en/stable/reference/pip_install/#editable-installs).

This has more to do with git than pip though. The project in `python/dist-packages` is a copy of the package (as it existed when you installed it), but it is not a git repo. If you clone the repo and then install it as editable, you can make edits inside of the git repo,

[2019-06-11 15:18] rseabrook commented on #226
This is not a bug, just a problem with your table regex. Take a look at how your regex matches the table you sent in this [regex debugger tool](https://regex101.com/r/d1gsbO/1). You can see that invoice2data is working exactly as expected given your regex definition.

@m3nu this can be closed.

[2019-06-11 15:31] rseabrook commented on #207
Github issues are for bugs, not support requests.

However, this case should be straightforward. You can try adding these to your template:

`gst: Page:\s+\d+\s+((?:\d{1,3})?(?:,\d{3})*(?:.\d{2})?)\s+(?:\d{1,3})?(?:,\d{3})*(?:.\d{2})?`
`total: Page:\s+\d+\s+(?:\d{1,3})?(?:,\d{3})*(?:.\d{2})?\s+((?:\d{1,3})?(?:,\d{3})*(?:.\d{2})?)`

Assuming these always occur right after the page number, you don't

[2019-06-11 20:22] mmaaxxtbg commented on #207
Thanks, however we gave up and wrote our own which works for us.

On Wed., 12 Jun. 2019, 1:31 am Richard Seabrook, <notifications@github.com>
wrote:

[2019-06-12 06:37] AshNTU commented on #189
Thanks @rseabrook for the clarification. I am not sure if we have this feature in invoice2data

I looked through the doc but could not find any documentation for this. Please let know how to use this feature, if it is available.

[2019-06-12 12:40] rseabrook commented on #189
@AshNTU like I said on the first line, invoice2data is not designed to work that way currently. You would have to hack it together yourself.

[2019-06-12 13:39] m3nu commented on #189
Absolutely correct. Currently we expect 1 file = 1 document/invoice.

If you have a way to split your files, you can just write some temp files and run `invoice2data` on those. The first part could be hard to get right. The second part is easy.

[2019-06-14 02:39] AshNTU opened #232 "Automatic generation of regular expression for template file"
One of the challenge we face while creating template is to write the regular expression manually, which can cover all the variations for the field across all the invoice. We end up trying with many variations, which is quite a time consuming task.

Is there a way (some library/api) where we can just give the examples, and the regular expression is automatically generated based on the examples prov

[2019-06-14 02:51] m3nu commented on #232
That's a hard computational program. I'm not aware of any quick solution. With enough sample data a neural network could be trained to cover some aspects of it. While I'd be interested in working on this, I lack the sample data and budget for now.

[2019-06-14 02:52] #226 closed

[2019-06-14 02:54] m3nu commented on #228
Yeah. You need to clone the repo, open a pull request and we'll merge it.

The process is the same for all projects and Github and it's well documented.

For small changes, you can post the code here and I'll do the PR, if the change is important.

[2019-06-14 02:54] #228 closed

[2019-06-14 02:55] m3nu commented on #227
If you have different invoice formats, you can contribute a new template by opening a pull request.

[2019-06-14 02:55] #227 closed

[2019-06-14 02:56] m3nu commented on #219
You should look at the debug output to see how the text comes out. Then tune it for the line plugin.

[2019-06-14 02:57] #214 closed

[2019-06-14 02:57] #207 closed

[2019-06-14 03:54] #206 closed

[2019-06-14 03:55] m3nu commented on #205
You can add a new argument to the pdf2text wrapper [here](https://github.com/invoice-x/invoice2data/blob/master/src/invoice2data/input/pdftotext.py).

[2019-06-17 11:31] anujarout opened #233 "Unable to parse invoice"
Hi
I am trying to use invoice2data for parsing some invoices, but i am facing following error:

from invoice2data import extract_data
result = extract_data('XYZ.pdf')

**Output :**
ReaderError: unacceptable character #x0082: special characters are not allowed
  in "<unicode string>", position 312

*I am not trying any template format.

[2019-06-17 11:34] ananthnagan commented on #180
does this pdf have multiple pages? if yes there is a problem in gvision.py where it is hardcoded to output1-1.json if pdf is more than one page gvision will create json file as output1-[no. of pages].json, so i have made a code change and it worked for me please find the code below

![image](https://user-images.githubusercontent.com/24543298/59601547-e9903080-9121-11e9-9a8e-b174840ed9b4.png)

[2019-06-17 11:46] m3nu commented on #180
You should make a pull request for your fix. Else your improvement will never make it into the official repo and you need to maintain the change during every update.

[2019-06-17 12:19] ananthnagan commented on #180
created the pull request

[2019-06-20 07:34] kiranbudati opened #236 "Is there any way to auto generate templates?"

[2019-06-21 04:54] m3nu commented on #236
With enough sample data, one could train a neural net to do it. If you are looking to do research in this area or can provide the training data, I'd be interested in getting involved.

[2019-06-21 09:19] adrienjacob commented on #186
I agree, would be very heplful indeed. I understand this is related to issue https://github.com/invoice-x/invoice2data/issues/224 and PR https://github.com/invoice-x/invoice2data/pull/225

[2019-06-21 09:28] adrienjacob commented on #122
Exactly, that's what I did and struggled a bit (didn't see @eccentric's suggestion earlier)... I just created PR https://github.com/invoice-x/invoice2data/pull/237 to at least mention the trick in the doc.

[2019-06-21 10:29] m3nu commented on #122
#237 is already merged. Closing this issue.

[2019-06-21 10:29] #122 closed

[2019-06-22 12:15] AshNTU opened #238 "Is there a support for multiple regex for lines plugin?"
I have been using the library for some time to parse my company invoices. I encountered that for my invoices I have line items which can be either of the two format. One way is that I create two templates file for each of it or if there is support for the multiple regex for lines and parser just picks the one for which match has been found.

[2019-06-25 00:56] m3nu commented on #238
For many fields, you can add a list of regex in the template and it will try all of them. I'm not sure if the line plugin is implemented in a similar way. If not, just add it and open a pull request.

[2019-06-28 07:15] ganeshsingamaneni opened #239 "output is not getting ,throwing a error while printing"
this is the error
 'unicode', "special characters are not allowed")
yaml.reader.ReaderError: unacceptable character #x0082: special characters are not allowed
  in "<unicode string>", position 46
----------------
my code:
-----------
from invoice2data import extract_data

result = extract_data('/home/ganesh/Videos/1.pdf')
print(result)

[2019-07-02 18:36] EtienneBerube commented on #180
Hi, I am trying to make the Gvision work. I have my Google credential's json and am trying to figure out how to properly connect the bucket. I see that it is a default argument but none of the API calls refer to a bucket. Where can I specify my bucket?
Thanks

[2019-07-02 20:35] Venerit commented on #180
Hey guys,
I was running in the same issue and tried ananthnagan's fix and it works for one multi page pdf but fails for another one.
Can't really figure out what the issue would be.
Any ideas?

  File "/usr/local/bin/invoice2data", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.6/dist-packages/invoice2data/main.py", line 201, in main
    res = extract_data(f.name, templat

[2019-07-03 06:03] ananthnagan commented on #180
its at top of the gvision.py there you can give your bucket name
![image](https://user-images.githubusercontent.com/24543298/60567023-5cd2ad00-9d86-11e9-827a-ca4ae44551e7.png)

[2019-07-03 07:51] m3nu commented on #180
Right. When you integrate the lib in your own script, you can pass your bucket as optional keyword arg, as shown by @ananthnagan above.

[2019-07-03 14:36] EtienneBerube commented on #180
This might work for a local solution, but if the code is in a docker which runs `pip install` the changes would be overridden.
@ananthnagan seems to go and get the bucket from the environment variables, which would be a good alternative. Could a PR for this be justifiable?

[2019-07-03 18:43] EtienneBerube commented on #180
a PR is created regarding @ananthnagan's fix
https://github.com/invoice-x/invoice2data/pull/241

[2019-07-10 07:49] mezhossain opened #242 "AttributeError"
I've been using the upwork template and an upwork invoice to test out this software. I've tried using different input modules such as pdftotext and tesseract.

My code is as follows:

[code]

I keep getting the same error no matter which input module I use:

[code]

Can someone please show me where the error in my code might be?

[2019-07-10 22:21] rmNULL opened #243 "output format in json doesn't double quote strings(as per standard)."
The json output format doesn't follow the standard(mentioned at http://www.json.org/).
(usage of single quotes over double quotes, date in python datetime specific format).

It appears that we get a python dictionary as output when asking for a json.

This commands produces the output given below
[code]

[code]

Also note that, despite passing `--output-date-format` it shows as `datetime` date.
Wh

[2019-07-11 00:23] m3nu commented on #243
Looks like a misunderstanding. The output you are showing here are the logs. They are not json, but Python dicts.

The actual json is saved to the file you specify :-)

[2019-07-11 00:23] #243 closed

[2019-07-11 06:28] rmNULL commented on #243
oh sorry, thanks for pointing it out.

[2019-07-31 09:34] jonatjano commented on #202
@maisen20 @thenaturalist any update on this ?

[2019-08-21 13:04] m3nu commented on #242
(fixed formatting of initial comment)

You need to load the template(s) first using the `read_templates()` function. You are passing a string instead, which fails. See the example code on the frontpage for a working example.

[2019-08-21 13:05] m3nu commented on #239
Maybe an old Python version or other issue with Unicode.

[2019-08-21 13:11] #196 closed

[2019-09-01 09:47] R470R commented on #18
Sir @m3nu , tutorial link is down, would be really useful

[2019-09-05 05:10] m3nu opened #250 "Use docker for tests"
See https://circleci.com/docs/2.0/configuration-reference/#docker--machine--macos--windows-executor

[2019-09-05 05:23] m3nu commented on #18
Tutorial is linked on the frontpage @R470R . Please check there instead of this old issue.

[2019-09-10 17:46] darknd opened #251 "DateFormat dd/mm/yyyy"
Hi,

I always get the date in the following format:

`'date': datetime.datetime(2019, 7, 31, 0, 0),`

My template looks like this:

[code]

How can i get the date in dd/mm/YYYY format?

Thank you very much for your time,

[2019-09-29 19:36] jtommi commented on #251
Hi,
This has nothing to do with invoice2data.

The date formats in the template options are only there to RECOGNISE the date.
Invoice2data returns a datetime object, which is what you see.
Basically you could do :
`result = extract_data('file.pdf', templates=templates)`
`result['date'].strftime('We are the %d, %b %Y')`

This would result in : **We are the 28, Mar 2019**
You can read more on dateti

[2019-10-01 19:21] gweber2 opened #255 "feature request : ML component"
May i suggest to add a machine learning component so that the program can recognize invoice elements without necessarily a precise template?

[2019-10-01 19:21] #255 closed

[2019-10-01 19:21] gweber2 commented on #255
sorry, i just realized this is already being discussed

[2019-10-01 22:58] m3nu commented on #255
It is. But do feel free to add any new ideas you have on the topic. Been some time ago.

[2019-10-04 20:14] Vartkat opened #257 "CSV output columns order"
Could you implement an way to set the columns order in the CSV output ?

Especially in the lines. If we ask for a csv file, the lines column contains Json it should be csv.

In a CSV the file should look like

`desc,vat,amount,lines,issuer,date,amount_untaxed,currency,invoice_number
`
with 'lines' replaced by the tags defined in the regex.

For example in my template line regex is :
`line: '(\d{6}

[2019-10-04 20:20] digi-talo opened #258 "Tables won't match"
I have the following table
[code]
yaml file:
[code]
The online regex tester matches all the data but I get the following error:
no table body found - start None, end <_sre.SRE_Match object at 0x7f9299e1c6b0>

Thanks for any suggestions!

[2019-10-08 16:23] rycks opened #261 "Multiple template for the same VAT number"
There is at least two situations where single template for a VAT number is a problem:

- when the provider change his template (for example 2012 invoices are different than in 2019)
- when the provider has more than one trade mark (for example ovh, soyoustart, kimsufi are sharing the same OVH VAT number)

So what could we imagine as solution ?

[2019-10-08 18:47] m3nu commented on #261
For situation 1: Have multiple templates with different numbers. Just add a year/version at the end.

Situation 2: Use the VAT number together with another term, like the brand.

[2019-10-09 18:59] digi-talo commented on #258
Upon further inspection it seems that it sticks all the fields of each row together so I don't quite understand how to seperate out the different values then.

[2019-10-17 18:21] #251 closed

[2019-10-18 07:31] digi-talo commented on #258
Solved, had to disable the remove_whitespace option.
Would be good to add that to the tutorial that this option needs to be disabled in order to be able to use the table plugin

[2019-10-22 13:52] rhbvkleef opened #263 "Types for values fetched using the "tables" key"
If the tables key is used in the template, all resulting values are strings. Many of these are floating point numbers in my case, so I would like the result to contain floating point numbers for these keys.

[2019-10-23 13:00] gwendall commented on #188
+1

Any news about that ?

[2019-10-29 19:54] darknd opened #264 "Unacceptable character #x0091"
Hi, Im getting this error:

Traceback (most recent call last):

  File "/usr/local/bin/invoice2data", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.5/dist-packages/invoice2data/main.py", line 194, in main
    templates += read_templates(os.path.abspath(args.template_folder))
  File "/usr/local/lib/python3.5/dist-packages/invoice2data/extract/loader.py", line 88, in read_t

[2019-10-29 20:08] darknd commented on #193
The same issue here.

Traceback (most recent call last):

File "/usr/local/bin/invoice2data", line 8, in
sys.exit(main())
File "/usr/local/lib/python3.5/dist-packages/invoice2data/main.py", line 194, in main
templates += read_templates(os.path.abspath(args.template_folder))
File "/usr/local/lib/python3.5/dist-packages/invoice2data/extract/loader.py", line 88, in read_templates
tpl = ordered_load(t

[2019-11-11 11:21] maodo commented on #5
Hello guys instead of using yaml files as templates format can't we use json format files. I have a project and i want the templates to be json format how can i do it ?
Thanks

[2019-11-26 23:50] rseabrook commented on #258
This is not specific to the tables plugin, just the behavior of the `remove_whitespace` option. That option removes whitespace _before_ running your regex, so your regex needs to expect that. You could have changed your `body` regex to remove the `\s+` tokens to get the matches you want.

[2019-12-10 07:53] manishconfidosoft opened #268 "Error while using with Google Cloud Vision"
I am getting following error while using Google Cloud Vision with invoice2data
google.api_core.exceptions.Forbidden: 403 GET https://storage.googleapis.com/storage/v1/b/cloud-vision-84893?projection=noAcl: xxx@xxxx-000000.iam.gserviceaccount.com does not have storage.buckets.get access to cloud-vision-84893.
Can you please help me?

[2019-12-20 15:45] m3nu commented on #236
An interesting article expanding on this. With this, we can partially automate template creation and we could e.g. find invoice numbers with a certain format or dates.

https://nanonets.com/blog/ocr-with-tesseract/

[2020-01-03 17:51] SNavgale opened #270 "Usage example for table plugin"
I am looking for example usage of table plugin. I am able to use basic extract_data to extract fields from invoice template I have setup using result = extract_data("data/sampleinvoice.pdf", templates=templates)
I have configure template as below for tables as -
tables:
  - start: Charge Description\s+Band\s+Measurement\s+Unit\s+Days\s+Rate\s\(Pence\)\s+Amount
    end: Sub Total Excluding
    body

[2020-01-03 17:53] SNavgale commented on #263
Hi rhbvkleefb, How you are using tables key and how you are extracting the values?

regards, S

[2020-01-15 18:50] schmidtkropp opened #271 "Invoice with multiple pages"
Hello everybody,
I would like to use invoice2data for a small workaround with our accounting software.

I have a lot of invoices that span several pages. Unfortunately, the text is only used on the first page.
The invoices are scanned and then evaluated via tessercast:

invoice2data --input-reader tesseract /srv/kicArchiv_2020-01-142.pdf --template-folder / srv / templates --debug

Unfortunately,

[2020-01-16 00:16] m3nu commented on #271
It should work for multiple pages. The German Qualityhosting template was developed for multiple pages IIRC.

It's possible that Tesseract only does the first page. In that case it's just a setting and could be changed with small adjustments.

[2020-01-19 18:10] schmidtkropp commented on #271
Hello m3nu,

many thanks for the answer.
Can you describe the adjustments for Tessercast in more detail?

[2020-01-29 08:28] nemiah commented on #193
I just had the same issue. The "problem" is the €-sign :exclamation: :confused:
I removed the lines 148 and 149 from `/usr/local/lib/python2.7/dist-packages/yaml/reader.py` and it seems to work for now :blush:

[2020-02-01 20:05] rseabrook commented on #257
This is easier to handle outside of invoice2data. Every user may want a different output format, which would be impossible for this project to accommodate.

[2020-02-04 08:57] nemiah opened #276 "Detect if . or , is used as decimal separator"
Hello,

I've a fun case where the same company issued two invoices with different decimal separators.

Does anyone have an idea how to parse both of them them correctly?

[Rechnung-GVR443872.pdf](https://github.com/invoice-x/invoice2data/files/4152231/Rechnung-GVR443872.pdf) and [Rechnung-GVR416030.pdf](https://github.com/invoice-x/invoice2data/files/4152232/Rechnung-GVR416030.pdf)

Best wishes
Ne

[2020-02-04 08:59] m3nu commented on #276
Ask them to fix their locale settings. 😜

[2020-02-04 09:06] nemiah commented on #276
Yes, I agree, that would be the best :grin:

We could run the text from the PDF file through some kind of pre-processing and fix the numbers…

[2020-02-04 09:15] m3nu commented on #276
You can use the library functions directly. The input step is already separate. You can make adjustments before passing it to the extraction step.

[2020-02-04 09:52] nemiah commented on #276
I'm currently trying to find out how python works :blush:

[2020-02-07 09:16] #276 closed

[2020-02-17 09:42] johnsmithm commented on #236
hi, I am looking to do research in this area, can you provide the training data? I'd be interested in getting involved.

[2020-03-09 00:47] knutole commented on #181
Any progress on this? Very useful to be able to pass language to tesseract for example.

[2020-03-13 08:04] nickolasclarke opened #278 "No template found when custom template is used and specified"
Hello,

I am trying to build a custom template to extract data out of PG&E Utility bills. You can see a low resolution screenshot excerpt of the PDF below. (Sorry I couldnt post the original as I needed an easy way to redact details for privacy).

![bill_screenshot](https://user-images.githubusercontent.com/2177320/76602245-c3889880-64c7-11ea-9d14-06ba251ce60d.jpg)

I have created the following te

[2020-03-14 06:03] m3nu commented on #278
Hi Nickolas, it looks like your template isn't matched. First you should cut back on your keywords. Except for the phone number and website they are probably not necessary. You should only use keywords that are really unique to this one company. (tax IDs are also useful)

Next you should use the debug option to see the actual output of this invoice. If it's an image you may need to use OCR. Passin

[2020-03-19 02:52] temp5374 opened #279 "OCR parsing as multiple lines"
Hi there and thank you for the library.  When I am parsing an invoice the debug output shows each field on its own line.  The actual invoice looks like this:

Sales Total :     xxx
Tax Total:         xxx
Total(AUD)      xxx

So basically in the below debug output from GVISION, '24,600.00' and 'Sales Total:' are linked to each other and 2,460.00 and 'Tax Total:' are linked to each other.
[code]

Is

[2020-03-19 03:00] m3nu commented on #279
That's tricky and depends on the OCR. A real-text PDF is usually easiest, if you have the option to use that.

You could still target the above example using some regex, but it will be messy.

[2020-03-19 03:15] temp5374 commented on #279
Thank you for the quick response!  Okay just checking I wasn't missing anything with the library.  That actually was a real text PDF but I suppose perhaps GVISION just treats it as OCR.

Would you be so kind to point me in the right direction for how I could handle that with regex?  Is it something to do with line breaks or a look back?

[2020-03-19 03:33] m3nu commented on #279
Don't use OCR, if you have a real text PDF. The other extractors will do a much better job preserving the layout.

[2020-03-19 03:34] temp5374 commented on #279
Yes having much better luck with pdftotext for the non image PDFs, thank you.

However I still do have some image PDFs so what could the regex be in that instance?

[2020-03-19 03:47] m3nu commented on #279
You would have to include the unwanted numbers and line breaks in the regex. A bit messy, but should work.

[2020-03-19 03:47] #279 closed

[2020-03-21 11:18] martinostvik opened #281 "ValueError when using tables plugin"
Hi there,
I am trying to capture two or more seperate tables from my invoices.
This is an example of what they look like:

[code]

I first used the 'lines plug-in' and it worked just fine, the only problem is that there are several seperate tables, and I need to be able to seperate them from eachother.

I tried using the 'tables plug-in' instead as it supports multiple tables per invoice.

**This

[2020-03-21 12:48] MartinGIT-source commented on #281
I was missing the '-' symbol before start.

writing:
[code]
fixed the problem! My mistake, sorry.
But it only matches on the first row. Doe the tables-plugin not support several rows in each table?

[2020-03-24 21:39] isviguilsky commented on #191
Hi,

Can you pos

Hi,

Can you post the final template for the pdf you posted related to Veneklasen

thank you, Ivan

[2020-03-24 21:40] isviguilsky commented on #191
Can you post the final templte for Veneklasen?

Thank you, Ivan

[2020-03-25 11:15] rschueler opened #283 "Filename of source PDF in output"
Is there a way to get the filename of the source PDF in the output?
Because if you parse a whole folder full of PDFs you will not know which record belongs to which file.

[2020-03-28 22:02] digi-talo commented on #258
True, I guess it just confused me since I missed the option. Case closed.

[2020-03-28 22:02] #258 closed

[2020-03-29 16:15] isviguilsky opened #284 "Amazon pdf"
I'm new in invoice2data and I'm learning the project using the examples you posted in the tutorial.

I'm trying to learn how to extract data from invoice detail with no success
I saw the amazon template where contain lines but I would need the amazon.pdf to match the template

are you able to share the amazon pdf related to the template below

issuer: Amazon Web Services, Inc.
keywords:
- Amazon W

[2020-04-01 21:40] #284 closed

[2020-04-01 21:41] isviguilsky commented on #284
I realized how to do it. Thak you

[2020-04-06 14:07] SNavgale commented on #189
I have achieved this by doing pre-processing and creating temp pdfs one per page using pyPDF2 and then processing them in a loop, works fine.

[2020-04-28 02:47] siddhant-swaroop-dash commented on #284
Im facing the same issue
Suggest some help please

[2020-04-28 22:22] Twister42 commented on #271
Unfortunately invoice2data convert PDF to images using the PNG format which do not handle multi pages. If you want to do multi page on PDF you have to change to code by yourself and use TIFF format : in tesseract.py line 37 : png -> tiff

It works fine for me. Looking at the comments in the file it seems they used tiff in the past but switched to png. don't know why...

[2020-05-11 08:58] Nishant213 opened #288 "No lines found"
Although I seem to have used the correct code and format, while running, I get the warnning no lines found - start None end None
Code:
lines:
  - start: Rate\s+Amount\s+Rate\s+Rate\s+Rate\s+Amount$
    end: Total\s+\d+
    line: (?P<HSN_Code>\d+)\s+(?P<Taxable_Amount>\d+.\d+)\s+(?P<Quantity>\d+\s\w+)\s+(?P<IGST_Rate>\d+.\d+)\s+(?P<IGST_Amount>\d+.\d+)\s+(?P<CGST_Rate>\d+.\d+)\s+(?P<CGST_Amount>\d+

[2020-05-22 01:51] AboveTheHeavens opened #289 "Having trouble trying to make look ahead and behind work in amount for regex"
So, I'm trying to extract the amount from the invoice but I need to use look ahead to get the correct amount.

Here is the expression I'm using
`(?<=\w:\s)[\d+\.]{0,}\d+,\d*(?=\s)`

It's supposed to match something like:
GESAMT: **9,95** €

The bold part, I've tested it online at [regex101]( https://regex101.com/) and it's working properly there (I did use the python flavor while testing).

But I

[2020-05-22 02:12] m3nu commented on #289
Templates can be set to remove all white space because it generally makes matching more reliable. Maybe that's related to your issue?

Your regex also looks needlessly complicated. I'd start by simplifying it a bit and looking at the debug output from `invoice2data` to see the actual extracted text.

[2020-05-22 05:35] AboveTheHeavens commented on #289
@m3nu
Saw your reply a bit late,
I ended up going for a custom parsing for that (using pdfplumber and manually finding the string)

I know it's not directly related to my problem but if you don't mind telling me, How would I access the debug output?

[2020-05-22 14:14] C-I-M commented on #289
Run the command below in the command prompt, replacing my_invoice.pdf with the name of your invoice.

invoice2data --debug my_invoice.pdf

[2020-06-11 08:29] sudeepjd commented on #205
I found this to be a problem for me as well pdftotext conversion currently hardcodes -layout as the conversion method, in some cases, I find -table to be better suited for the conversion...

I can submit a PR to add in a layout parameter which can then get passed to the to_text functions in each of the .input modules... Should I?

[2020-06-11 08:32] m3nu commented on #205
Yes. Always useful to have it as option. Just keep the current setting as default.

[2020-06-11 08:39] sudeepjd opened #290 "remove_whitespace: true is stripping all white spaces"
The white_space: true seems to be stripping all the whitespaces

In **invoice_template.py -> prepare_input() method:**

[code]

This should be replace with a space so that the regex can split with spaces instead of removing all the spaces... I found this because my templates were not matching when remove_whitespace was true... Adding in the single space worked.

[code]

[2020-06-11 08:40] sudeepjd commented on #290
I am not sure if this was intended function or a bug... I can submit a PR to change this, but would like to check if it was intended to remove all spaces or not.

[2020-06-11 08:50] m3nu commented on #290
Intended

[2020-06-11 09:23] sudeepjd commented on #290
Ok.. Thank you... I will make the changes on my version of the code to make the template match work, without which it is not working, unless I strip white spaces on my template file as well.

[2020-06-11 09:23] #290 closed

[2020-06-11 11:13] m3nu commented on #290
You can just turn off whitespace removal.

But I found it's easier to write regex with whitespace removed.

[2020-06-17 15:30] Faizankh8 opened #292 "extract data function will not run"
Hi,

The extract_data function will not work for me. Regardless of what i do or which invoice module i use (e.g. tesseract or pdftotext), it does not run the function for me. Please let me know if i'm doing something wrong.

Steps:
pip install pdftotext
pip install invoice2data
brew install poppler

Traceback (most recent call last):
  File "<pyshell#62>", line 1, in <module>
    extract_data('tes

[2020-06-22 11:53] rageshS opened #293 "regular expression was changed in the execution time. clueless issue"
Hi All,

I am really disappointed because of the error that I am facing in the invoice2data command prompt. I have a pdf with invoice data. I try to extract the total amount field with Pound currency. I already set my own template YML file in the templates folder. The problem is when I execute the command line for processing `invoice2data --input-reader  pdftotext  mypdf.pdf --template-folder temp

[2020-06-22 12:02] m3nu commented on #293
You probably have an encoding issue somewhere in your workflow. It's not something `invoice2data` does intentional anywhere.

[2020-06-22 12:45] rageshS commented on #293
@m3nu Could you please explain, what i am missing for occur the encoding issue. I didn't find any special arguments for mention the encoding standard.

[2020-06-22 12:56] m3nu commented on #293
Your template files should be in UTF-8 and you should use Python 3. If that's all fine, you shouldn't see such encoding issues.

[2020-06-23 06:16] rageshS commented on #293
Ok, I got your point. But how to mention the encoding format in YML specific. I already checked the python code, it mentions the encoding format in ` main.py` file `extracted_str = input_module.to_text(invoicefile).decode("utf-8")`

[2020-06-23 07:50] rageshS commented on #293
I post my solution here for may help someone. If anyone can happen this issue like above `print` your template name and encoding format.

filename - `\invoice2datamaster\src\invoice2data\extract\loader.py` linenumber - 84

  for path, subdirs, files in os.walk(folder):
        for name in sorted(files):
            if name.endswith(".yml"):
                with open(os.path.join(path, name), "rb")

[2020-06-23 07:50] #293 closed

[2020-06-28 19:56] devajith opened #294 "Extract data from multiple line"
`
Address 1                              Address 2                                             Address 3
A1 Line 1                                A2 Line 1                                              A3 Line 1
A1 Line 2                               A2 Line 2                                              A3 Line 2
                                              A2 Line 3
stops here
`
is it possible

[2020-07-01 03:44] logeshstc commented on #292
Hi, Have you find the error?

[2020-07-01 11:02] rageshS opened #295 "Is there any sample for capturing the address field"
Hi All,

I am a newbie in using invoice2data python library. But I am really satisfied with this library was very useful for me. But I find some limitations in multiline data in the invoice pdf such as the address field. Here I explain one of the problems, that I faced while using invoice2data to extract address data, that is if our desired data field is a multiline data and one more data fields l

[2020-07-02 08:07] rageshS commented on #295
Any update on this ?

[2020-07-03 09:38] rageshS commented on #294
Hi @devajith I think there is no straight forward way to extract the multi-line data. I can't find any example for capture the multi-line data. I have the same issue https://github.com/invoice-x/invoice2data/issues/295. you need to create a customized plugin for capture the multi-line data.

[2020-07-04 09:59] ssj-ali commented on #292
download  pdftotext.exe in your working folder. (you can search pdftotext.exe on google). pdftotext works for digital pdf only.

To use tesseract download Tesseract , Imagemagick and Ghostscript from their sites and then install them.  Finally add them to your environment variables

[2020-07-16 17:06] suprateekn opened #296 "Is there a way to parse multiple tables using "lines""
I am having 2 tables in a single page of the pdf and want to extract data from both of them. Can't use the "tables" plugin as can have only the first line of data using that.

As far as I can understand the "lines" block is treated as a dictionary. So multiple table parsing using "lines" is not possible. Is there an alternative?

[2020-08-07 04:58] ShaileshSarda opened #297 "UnboundLocalError: local variable 'first_row' referenced before assignment"
I am getting this: UnboundLocalError: local variable 'first_row' referenced before assignment
error to extract data in csv format.

Any help?
Thanks!

[2020-08-07 05:05] m3nu commented on #297
Maybe you didn't get any results? Else it's hard to tell without full stack trace.

[2020-08-11 20:25] ocr-avenger commented on #236
I found these guys doing automatic templates generation quite successfully https://scandocflow.com

[2020-08-12 09:18] Jane-Ding commented on #295
Hi, rageshS,
Have u solved this problem? I also need to extract the address in multi-lines but it seems it can only use custom items which use fixed regex location to extract the address.

[2020-08-12 09:20] Jane-Ding commented on #294
Hi, I see this guy can extract the address with customized plugin.
https://medium.com/version-1/my-experience-extracting-invoice-data-using-invoice2data-in-python-1c6450fa001f

[2020-08-13 15:08] christianroeser opened #298 "fields are missing in xml export"
Hi,

it seems that with the xml exports the most fields are missing. Only currency, amount, date, desc and issuer are exported. Invoice number and other fields are only with <fieldname\> shown.

Bye
Christian

[2020-08-14 00:31] m3nu commented on #298
Does this still happen even after #291 was merged?

[2020-08-14 08:30] christianroeser commented on #298
Yes, the fields are included but empty. They are shown as <tagname/>

![xml](https://user-images.githubusercontent.com/69638741/90229990-22f12880-de19-11ea-8e6f-d14dec026320.jpg)

[2020-08-14 08:43] m3nu commented on #298
I see. Is this intended, @sudeepjd, can you reproduce it? If yes, the last PR should be amended.

[2020-08-14 08:54] sudeepjd commented on #298
I closed #291 as there was a better PR at #287. I dont think my PR was merged into master . #287 was merged 4 days ago.. I forked the repo and merged #287 into my form because I wanted to use the XML export.

[2020-08-14 09:15] m3nu commented on #298
Right, sorry. @rmilecki, can you see the issue mentioned here?

[2020-08-14 10:20] rmilecki commented on #298
Sure!

@christianroeser: I'm a bit confused by "most fields are missing" while your output shows that only `invoice_number` and `kundennr` are missing. When testing the latest `master` branch with my invoices and templates I can't reproduce even that.

Can you please provide output of
[code]
and maybe your `.tpl` file as well?

[2020-08-14 15:03] christianroeser commented on #298
It wouldn't be surprised if the mistake is mine. First I installed invoice2data via pip and swaped the to_xml.py with the actual file from master.  Now I have uninstalled it and (hopefully) installed master via `pip install git+https://github.com/invoice-x/invoice2data.git#egg=invoice2data`. I still get the same results.... :(

[code]

[code]

[code]

[2020-08-17 05:51] rmilecki commented on #298
Thanks, I'm wondering if it's caused by your regular expressions providing few matches. I'll do more testing locally and try to fix that!

[2020-08-17 08:22] christianroeser commented on #298
@rmilecki: Thank you! I just did a quick test. The invoice was originally a three page invoice, so I processed just the last page. Invoice2data now finds only one match but the result is still the same.

[2020-08-19 06:06] rageshS commented on #295
@Jane-Ding I didn't get any helpful answer, and still facing the issue. I think this is not activly maintained git repo.

[2020-08-22 18:59] YOEL311 opened #299 "Language support"
Language support
I'm interested in using your excellent library
I need to analyze invoices in the Hebrew language if this is possible
What languages do you support

[2020-09-17 21:31] vdamov opened #301 "Language detection issue"
I can't recognize languages different from English

Tried to detect : Bulgarian, German, Greek

- OS: Windows 10 ( I have invoice2data on macOS High Sierra and it works great which is odd)
- Python 3.8.3
- pip 20.2.3
- conda 4.8.5
- poppler 0.90.1 installed with 'conda install -c conda-forge poppler'
- poppler-data 0.4.9
- pdftotext 0.90.1 installed with 'pip install pdftotext'
- invoice2data inst

[2020-09-19 17:02] rahxphoon opened #302 "options->replace not only replace literally values"
Hi,
I recently use your smart library to do invoice extraction.
Since I cannot process multiple lines due to the limitation
If there is a way for me to replace like **L\)\r\n ->L\)** to reassemble multiple lines into one line  before processing?

Regards
Charles

[2020-09-20 12:06] rmilecki commented on #298
@christianroeser: I couldn't reproduce this problem using any of my invoices or templates. I decided to fake ALLNET invoice and use your template.

Your template didn't work for me initially due to the:
[code]
so I replaced `\EUR` with `EUR`. Then I parsed my faked invoice (attached as [allnet.pdf](https://github.com/invoice-x/invoice2data/files/5251629/allnet.pdf)). It seems to work just fine for

[2020-09-20 13:54] rmilecki commented on #298
I use 2.7.18. What is your version @christianroeser ?

[2020-09-29 04:10] ankitsp02 opened #303 "Cannot access the pdf"
I/O Error: Couldn't open file '/invoice/agl_test.pdf': No such file or directory.
No template for /invoice/agl_test.pdf

I get this error, but I have kept this file in this proper directory

[2020-10-25 22:08] rmilecki commented on #288
Regex used for `start` didn't match anything in your invoice text. It's hard to say precisely what has happened without text included in your report.

Try dropping `$` from the `start` regex.

[2020-10-27 19:24] rmilecki commented on #303
The error message says `No template`, which means not a single template was found that would match your invoice. Matching is done by looking for strings specified in the `keywords`.

For details see https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst

[2020-10-27 20:03] rmilecki commented on #261
Find some words to distinct those invoices and use them in the `keywords`. E.g.
[code]
[code]

[2020-10-27 20:09] rmilecki commented on #283
You can simply use the `--output-name` option on `invoice2data`. Make your script read directory files and for each file call `invoice2data` with something like `--output-name $file-parsed`.

[2020-10-27 20:12] rmilecki commented on #270
Please provide output of `invoice2data` call with `--debug` option set.

From a quick review that `(Pence)` in your `start` smells fishy. Did you mean `\(Pence\)` or maybe `(Pence)?`?

[2020-10-27 21:00] rmilecki opened #307 "Idea: allow "fields" entries to use extended syntax with associative arrays"
Right now `fields` allows specifying:
1. Regex to use for extracting field data (e.g. `foo: Order (\d+)`)
2. Static value (e.g. `static_bar: Baz`)
3. Sums (e.g. `sum_amount_qux: ...`)

I find current syntax (described above) is a bit loose, limiting and not allowing some further clean development. For example you can't have field starting with `static` using regex (e.g. `static_ip_address: (\d+\.\

[2020-10-28 17:18] rmilecki commented on #296
I can implement this but I need `invoice2data` maintainers to help me to decide on YAML syntax for it. I have two suggestions.
@m3nu: can you comment on below ideas, please?

### Use extended `fields` syntax
In the #307 I suggested each `fields` entry to be an associative array. That would allow very clean support for requested feature (without breaking backward compatibility), consider:
[code]
Th

[2020-10-28 17:58] suprateekn commented on #296
Instead of this I was thinking if the lines section could be made like the tables section. Where we could give multiple entries. That would be really helpful

[2020-10-28 22:40] rmilecki commented on #296
The difference between above "Extend existing lines syntax" and `tables` plugin syntax is the former having every array entry named (`items` and `rates`). We can't have pure `tables`-like syntax instead. It's because:
1. `lines` plugin returns array that has to be assigned to some field
2. `tables` plugin assigns to few fields depending on used `body`

Unless I misunderstood you. If so, please pro

[2020-10-30 08:15] m3nu commented on #296
Defining this per-field makes more sense to me personally and seems more scalable. So we would have options for each field: regex, static, lines plugin, etc. Maybe we treat everything as plugin, including regex and static, so those can be improved independently.

[2020-11-08 10:56] minalmeg commented on #278
I get something similar and I can't figure out the problem.
`# -*- coding: utf-8 -*-
issuer: **The Company Name which I do not want to disclose**
keywords:
  - **Company Nam**e
fields:
  invoice number: Invoice no.\n(\d+)
  date: Dated\n(\d{1,2}-\w{3,4}-\d{4})
  cosignee: Cosignee\n(.*)
  buyer: Buyer\(\if other than consignee\)\n(.*)
options:
  remove_whitespace : false
  currency : INR
  languag

[2020-11-10 03:18] m3nu opened #310 "Housekeeping"
- [ ] Use Github actions for CI
- [ ] Review Python versions. Remove tests for Python 2.7?
- [ ] Clean up docs

[2020-11-10 15:23] minalmeg commented on #288
Did you find any solution for this problem?

[2020-11-13 17:25] Seriousness opened #311 "Standard Field names?"
I am using invoice2data for streamlining my invoice management and automatizing my books.

Thus I'd like to have other ppl some benefits from adding several invoice issuers and push these to this repo. Before I do that, I would like to ask if there has been set up any description of the fields you'd like to see besides the necessary items.

[2020-11-14 02:39] m3nu commented on #311
Thanks for contributing some templates! You can check out the [tutorial](https://github.com/invoice-x/invoice2data/blob/master/TUTORIAL.rst) or look at existing templates in this repo.

We don't really have style rules for now, but if you're interested, this would be a valuable contribution as well.

Also note the recent commit by @rmilecki, which adds a more expressive YAML syntax and the option

[2020-11-14 13:32] Seriousness commented on #311
Ok, I will try to get some example working the very next week. Should I do it in Markdown as a simple readme, does it need an extra branch? I'd try to work the field names from the existing templates and expand that with explanation etc.

[2020-11-14 14:17] m3nu commented on #311
Personally I would make a new branch in my own fork while working on any new pull request. After it's done, we'll merge this feature branch into the master branch of the main repo.

Some of the field names are relatively "standard" and I'd keep them. You'll find them in other templates. For new fields, just choose any name that makes sense.

[2020-11-14 14:24] rmilecki commented on #311
I'm all for documenting some standard field names! I tried starting discussion on field name for VAT summary lines in the #309 but it was somehow missed.

I noticed e.g. a lot of existing templates use `vat` field for VAT identification number. Personally I use `vatin` and I find it more accurate, but I guess we should prefer what's already used in this case.

[2020-11-15 21:09] Seriousness commented on #311
i have done some research in between and wondered if it was reasonable to adjust names with existing electronic invoice standards as Zugferd?

[2020-11-15 21:17] rmilecki commented on #311
Following some existing standard would be great. Is there anything more international than Zugferd?

Let me post a merge request which what I already got queued while working on the #309.

[2020-11-16 00:14] m3nu commented on #311
Zugferd is mainly about how the invoice metadata is *embedded*. The actual data structure is specified in CII or UBL. For field names either one could be used.

See here: https://github.com/invoice-x/invoice-x.org/blob/master/standards.md

[2020-11-16 09:03] rmilecki commented on #311
Thanks @m3nu!

It seems there is UE directive 2014/55/UE also called "eInvoicing Directive". Resources on eInvoicing: https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eInvoicing . It indeed specifies CCI and UBL as supported syntaxes: https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/Required+syntaxes

I think standards are described in documented called EN 16931 but I'm failing to fi

[2020-11-16 10:30] Seriousness commented on #311
@m3nu  Thank you for the clarification on the embedding / document standards.

@rmilecki I was less thinking in creating fully valid documents, my idea was more to take the naming of the fields and look into optional fields. My idea is that this could allow to streamline further processing when e-invoicing becomes more standard. Looking into the posted example I actually prefer issue_date or docum

[2020-11-16 10:50] rmilecki commented on #311
@Seriousness: OK, I like the idea of getting some ideas from UBL for field names where it makes sense. Without being too strict about it. I'm afraid some names may not be well applicable. Using ``CompanyID`` for VAT identification number (without extra context) sounds quite misleading.

@Seriousness: can you take a look at #313 and comment on it?

[2020-11-16 14:20] Seriousness commented on #311
I've seen and answered there.

Up to now, this is the best overview with description I could find on UBL: https://docs.peppol.eu/poacc/billing/3.0/syntax/ubl-invoice/tree/ - as spoken on the other, I am not sure if the ubl names are really fitting the everyday workflow or just blow things up.

[2020-11-28 14:01] FrancescoPalmieri commented on #298
HI, I've got a similar issue. I'm new to the project, which have download yesterday. I'm parsing a pay slip.
The field "ferie" is parsed as 200,00 as expected, is extracted as expected in CSV mode but missing in XML mode.

Attached Logs and file output.
Below  command and template.
Best regards.

[log.zip](https://github.com/invoice-x/invoice2data/files/5610693/log.zip)

[CSV_XML.zip](https://gith

[2020-12-12 22:12] GeorgeMihalache commented on #188
Any news?

[2020-12-12 22:19] rmilecki commented on #188
I have & use **trivial** `Flask` based web API, I'll try to clean it up and share next month.

[2020-12-13 07:31] GeorgeMihalache commented on #188
This is very good news for those unfamiliar with the python environment. Thanks

[2020-12-14 04:51] reikred opened #316 "Template variables and the original filename should be allowed as part of --filename-format !"
I would like to use something like the following

--copy ./ --filename-format "{date}.{invoice_number}.{issuer}.{orig_filename}"

However, invoice2data does not recognize {issuer} (although it is defined in the template), and {orig_filename} is not supported at all.

Should not --filename-format allow using any variable (attribute) defined in the template file? And should the original filename not

[2020-12-16 16:33] reikred commented on #316
Note to self (and maybe others): It looks like what I called orig_filename above is called invoicefile in main.py. Nevertheless, one cannot refer to {invoicefile} when constructing --filename-format.

I also see that res['keyword'] is how attribute values are accessed. I tried to put

issuer=res['issuer'],

into the qppropriate place(s) in main.py, but python complained

KeyError: 'issuer'